<template>
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex justify-content-start mt-3">
        <strong>
          {{ newss.name }}
        </strong>
      </div>
    </div>
    <div class="row d-flex justify-content-between pt-3">
      <div class="col-2">
        <img :src='"http://localhost:3001/api/Storages/files/download/" + newss.image' height="200">
      </div>
      <div class="col-10">
        {{ newss.text }}
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import config from './../../config'
export default {

  validate ({ params }) {
    return true
  },

  fetch ({ store, params }) {
    return store.dispatch('getNews', {
      id: params.id
    })
  },

  data () {
    return {
      dateOptions: {
        weekday: 'long',
        year: 'numeric',
        month: 'long',
        day: 'numeric'
      },
      host: config.host,
      hostimage: config.hostimage
    }
  },

  head () {
    return {
      title: 'Новость'
    }
  },

  computed: {
    ...mapGetters(['newss'])
  }
}
</script>
