<template>
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div v-for="news in news" :key="news.id" class="col-12">
        <div class="row d-flex justify-content-center py-3">
          <div class="col-10">
            <div class="row d-flex align-items-start">
              <div class="col-12">
                <strong>
                  <router-link :to="{path:'/news/'+news.id}" class="menu-link text-black">
                  {{ news.name }}
                  </router-link>
                </strong>
              </div>
              <div class="col-12 pt-3">
                {{ news.shortText }}
              </div>
            </div>
          </div>
          <div class="col-2 d-flex justify-content-center align-items-center">
            <img :src='"http://localhost:3001/api/Storages/files/download/" + news.image' height="200">
          </div>
        </div>
      </div>
    </div>
  </div>     
</template>

<script>
import { mapGetters } from 'vuex'
import config from './../../config'
export default {
  head () {
    return {
      title: 'Новости'
    }
  },

  data () {
    return {
      host: config.host,
      hostimage: config.hostimage,
      max: 4,
      count: 0,
      hasNoItems: false
    }
  },

  computed: {
    ...mapGetters(['news'])
  },

  mounted () {
    this.initContents()
  },

  methods: {
    initContents () {
      this.$store.dispatch('getNewsCount').then((data) => {
        this.count = data.count
        if (process.client && this.max >= this.count) {
          this.hasNoItems = true
        }
      })

      this.$store.dispatch('getListNews', { limit: this.max })
    },

    handleShowMore () {
      if (this.max < this.count) {
        this.max += 4
        this.initContents()
      }
    }
  }
}
</script>