<template>
  <v-container fluid grid-list-md>
    <v-layout row wrap>
      <v-flex xs12  v-if="files && files.length > 0">
        <v-card>
          <v-container fluid grid-list-md>
            <v-layout row wrap>
              <v-flex v-for="file in files" :key="file.name">
                <v-card>
                  <v-img
                    :src="'http://localhost:3001/api/Storages/' + nameLocal + '/download/' + file.name"
                    height="400px"
                  ></v-img>
                  <v-card-actions>
                    <span class="headline black--text" v-text="file.name"></span>
                    <v-spacer></v-spacer>
                    <v-btn icon @click="deleteItem(file.name)">
                      <v-icon>delete</v-icon>
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card>
      </v-flex>
      <v-flex xs12 text-xs-center>
          <v-btn @click="uploadFile()" color="primary">Загрузить файл</v-btn>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  props: {
    params: {
      type: Object,
      default: null
    }
  },

  data() {
    return {
      nameLocal: 'files',
    };
  },

  computed: {
    ...mapGetters(["files"])
  },

  created() {
    this.nameLocal = (this.params && this.params.id) ? this.params.id : 'files';
    this.initContents();
  },

  methods: {
    initContents() {
      this.$store.dispatch("getFileList", {
        name: this.nameLocal
      });
    },

    uploadFile() {
      this.$router.push({
        name: "uploadFile",
        params: {
          name: this.nameLocal
        }
      });
    },

    deleteItem(item) {
      confirm("Вы точно хотите удалить это?") &&
        this.$store.dispatch("deleteFile", {
          file: item,
          name: this.nameLocal
        }).then(()=>{
          this.$store.dispatch("delFile", {
            params: item
          });
        });
    }
  }
};
</script>