<template>
  <v-form ref="form" lazy-validation>
    <v-container fluid grid-list-md>
      <v-layout row wrap>
        <v-flex xs12 class="text-xs-center text-sm-center text-md-center text-lg-center">
          <v-flex xs12 v-if="fileArr && fileArr.length > 0">
            <v-card>
              <v-container fluid grid-list-md>
                <v-layout row wrap>
                  <v-flex v-for="file in fileArr" :key="file.name">
                    <v-card>
                      <v-img :src="file.src" height="200px"></v-img>
                    </v-card>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card>
          </v-flex>
          <v-text-field
            label="Выберите файлы"
            @click="pickFile"
            v-model="fileName"
            prepend-icon="attach_file"
          ></v-text-field>
          <input
            type="file"
            style="display: none"
            ref="file"
            multiple="true"
            min="1"
            max="100"
            @change="onFilePicked"
          >
        </v-flex>
        <v-flex xs12 text-xs-center>
          <v-btn color="success" :disabled="fileArr.length < 1" @click="uploadFile">Загрузить</v-btn>
          <v-btn color="success" @click="back">Назад</v-btn>
        </v-flex>
      </v-layout>
    </v-container>
  </v-form>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import { Promise, reject } from 'q';
export default {
props: {
    params: {
      type: Object,
      default: null
    }
  },

  data() {
    return {
      fileArr: [],
      fileName: "",
      nameLocal: 'files',
    };
  },

  created() {
    this.nameLocal = (this.params && this.params.id) ? this.params.id : 'files';
  },

  methods: {
    pickFile() {
      this.$refs.file.click();
    },

    onFilePicked(e) {
      var files = Array.from(e.target.files);
      var promises = (files || []).map(file => {
        return new Promise((resolve, rejected) => {
            const fr = new FileReader();
            fr.readAsDataURL(file);
            fr.addEventListener("load", (event) => {
              file.src = event.currentTarget.result;
              file.fileType = file.type.split("/")[0];
              resolve(file);
            });
            fr.addEventListener("error", (error) => {
              // нужно посмотреть правильную обработку ошибок
              rejected(file);
            })
          });
        }
      )

      Promise.all(promises).then((result) => {
        this.fileArr = result;
      })
    },

    uploadFile() {
      if (!this.nameLocal) {
        this.nameLocal = 'files'
      }
      var i;
      for (i = 0; i < this.fileArr.length; ++i) {
        if (this.fileArr[i] !== undefined) {
          let formData = new FormData();
          formData.append("file", this.fileArr[i]);
          this.$store.dispatch("uploadFile", {
            filedata: formData,
            name: this.nameLocal
          });
        }
      }
      this.fileArr = [];
    },

    back() {
      if (this.nameLocal === 'files') {
        this.$router.push({ name: "files" });
      }
      else {
        this.$router.push({ path:`/contents/entry/${this.params.contentSlug}/list`});
      }
    }
  }
};
</script>