<template>
    <div class="row pt-5">
        <div class="col d-flex justify-content-center">
          <button
            type="button"
            :class="hasNoItems ? 'btn news-button rounded-circle text-wrap text-uppercase round-btn disabled-button' : 'btn news-button rounded-circle text-wrap text-uppercase round-btn'"
            @click="handleShowMore"
          >
                <span>
                  Показать
                  <br />
                  <img src="../../../assets/img/arrow.svg" />
                </span>
              </button>
            </div>
          </div>
</template>

<script>
export default {
  props: {
    onShowMore: {
      type: Function,
      default: null
    },
    hasNoItems: {
      type: Boolean,
      default: false
    }
  },

  methods: {
    handleShowMore (evt) {
      if (this.onShowMore !== null) {
        this.onShowMore()
      }
    }
  }
}
</script>