<template>
  <div class="container">
<div class="row">
    <div class="col-12">
        <div class="row d-flex justify-content-start py-3">
            <div class="col-2 align-items-start">
                <img :src='"http://localhost:3001/api/Storages/files/download/" + document.image' height="200">
            </div>
            <div class="col-6">
                <div class="row d-flex align-items-start">
                    <div class="col-12">
                        {{ document.name }}
                    </div>
                    <div class="col-12">
                      <span>
                        Автор:
                      </span>
                        {{ document.author }}
                    </div>
                    <div class="col-12">
                      <span>
                        ISBN:
                      </span>
                        {{ document.ISBN }}
                    </div>
                    <div class="col-12">
                      <span>
                        Год издания:
                      </span>
                        {{ document.year }}
                    </div>
                    <div class="col-12">
                      <span>
                        В наличии: {{ document.count }} шт.
                      </span>
                    </div>
                </div>
                <div class="row d-flex align-items-end pt-3">
                    <div class="col-12">
                      {{ document.description }}
                    </div>
                </div>
            </div>
            <div v-if="document.count > 0" class="col-4">
              <button v-on:click="goto(document)" type="button" class="btn btn-primary">Забронировать</button>
            </div>
        </div>
    </div>
</div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import config from './../../config'
export default {

  validate ({ params }) {
    return true
  },

  fetch ({ store, params }) {
    return store.dispatch('getDocument', {
      id: params.id
    })
  },

  data () {
    return {
      host: config.host,
      hostimage: config.hostimage
    }
  },

  head () {
    return {
      title: 'Документ'
    }
  },

  computed: {
    ...mapGetters(['document'])
  },

  methods: {
    goto (doc) {
      this.$router.push({ path: '/bron', query: { id: doc.id } })
    }
  }
}
</script>
