<template>
 <div class="container">
    <div class="row">
        <div v-for="doc in documents" :key="doc.id" class="col-12">
            <div class="row d-flex justify-content-start align-items-center py-3">
                <div class="col-2">
                  <router-link :to="{path:'/documents/'+ doc.id}" class="menu-link">
                    <img :src='"http://localhost:3001/api/Storages/files/download/" + doc.image' height="200">
                  </router-link>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-12">
                          <router-link :to="{path:'/documents/'+ doc.id}">
                            {{ doc.name }}
                          </router-link>
                        </div>
                        <div class="col-12">
                            <span>
                                Автор:
                            </span>
                            {{ doc.author }}
                        </div>
                        <div class="col-12">
                            <span>
                                ISBN:
                            </span>
                            {{ doc.ISBN }}
                        </div>
                        <div class="col-12">
                            <span>
                                Год издания:
                            </span>
                            {{ doc.year }}
                        </div>
                        <div class="col-12">
                            <span>
                                В наличии: {{ doc.count }} шт.
                            </span>
                        </div>
                    </div>
                </div>
                <div v-if="doc.count > 0" class="col-4">
                  <button v-on:click="goto(doc)" type="button" class="btn btn-primary">Забронировать</button>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import { mapGetters } from 'vuex'
import config from './../../config'
export default {
  head () {
    return {
      title: 'Документы'
    }
  },

  data () {
    return {
      host: config.host,
      hostimage: config.hostimage,
      max: 4,
      count: 0,
      hasNoItems: false
    }
  },

  computed: {
    ...mapGetters(['documents'])
  },

  mounted () {
    this.initContents()
  },

  methods: {
    initContents () {
      this.$store.dispatch('getDocumentCount').then((data) => {
        this.count = data.count
        if (process.client && this.max >= this.count) {
          this.hasNoItems = true
        }
      })

      this.$store.dispatch('getListDocument', { limit: this.max })
    },

    goto (doc) {
      this.$router.push({ path: '/bron', query: { id: doc.id } })
    }
  }
}
</script>
