<template>
  <v-container fluid grid-list-md>
    <v-layout row wrap>
      <v-flex xs12>
        <v-card>
          <v-card-title>
            <div v-if="textContents[0] && textContents[0].content && textContents[0].content.name" class="title font-weight-black">
            {{ textContents[0].content.name }}
            </div>
            <v-spacer></v-spacer>
            <v-text-field
              v-model="search"
              append-icon="search"
              label="Поиск"
              single-line
              hide-details
            ></v-text-field>
          </v-card-title>
          <v-data-table
            :headers="headers"
            :items="textContents"
            class="elevation-1"
            :search="search"
            hide-actions
            v-bind:pagination.sync="sort"
          >
            <template v-slot:items="props">
              <td class="text-xs">{{ props.item.name }}</td>
              <td class="text-xs">{{ props.item.shortText }}</td>
              <td class="text-xs">{{ props.item.content ? props.item.content.name : 'нет' }}</td>
              <td class="text-xs">{{ props.item.isPublished ? 'Видно' : 'Не видно' }}</td>
              <td class="text-xs">{{ props.item.user ? props.item.user.username : 'нет' }}</td>
              <td class="text-xs">{{ props.item.dateCreated ? new Date(props.item.dateCreated).toLocaleDateString('ru-RU', dateOptions)  : 'нет'}}</td>
              <td class="text-xs justify-center align-center">
                <router-link :to="`/contents/entry/${props.item.content ? props.item.content.slug : 'all'}/edit/${props.item.id}`">
                  <v-icon class="mr-2">edit</v-icon>
                </router-link>
                <v-icon @click="deleteItem(props.item.id)">delete</v-icon>
              </td>
            </template>
          </v-data-table>
        </v-card>
        <Pagination api="TextContent"/>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { mapGetters } from "vuex";
import Pagination from './../components/pagination'
export default {
  components: {
    Pagination
  },

  props: {
    params:{
      type: Object,
      default: null
    }
  },

  data() {
    return {
      sort: {
        sortBy: 'dateCreated',
        descending: true,
        rowsPerPage: -1
        },
      search: "",
      dateOptions: {
        weekday: 'long',
        year: 'numeric',
        month: 'long',
        day: 'numeric'
      },
      headers: [
        { text: "Название", value: "name" },
        { text: "Короткий текст", value: "shortText" },
        { text: "Родитель", value: "content" },
        { text: "Публикация", value: "isPublished" },
        { text: "Автор", value: "user" },
        { text: "Дата создания", value: "dateCreated" },
        { text: "Действия", width: 110, value: "actions", sortable: false }
      ],
      ofPageLocal: this.ofPage
    };
  },

  computed: {
    ...mapGetters(["textContents"])
  },

  methods: {
    deleteItem(id) {
      confirm("Вы точно хотите удалить это?") &&
        this.$store.dispatch("deleteTextContent", {
          id: id
        });
    },

    uploadItem(item) {
      this.$router.push({
        name: "uploadFile",
        params: {
          name: item
        }
      });
    },

    gotoItem(item) {
      this.$router.push({
        name: "files",
        params: {
          name: item
        }
      });
    }
  }
};
</script>