<template>
    <component
      :is="getComponentName()"
      :params="params"
    />
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import content_edit from "../components/content/contentedit.vue";
import content_list from "../components/content/contentlist.vue";
import textcontent_edit from "../components/content/textcontentedit.vue";
import textcontent_list from "../components/content/textcontentlist.vue";
import mediacontent_edit from "../components/content/mediacontentedit.vue";
import mediacontent_list from "../components/content/mediacontentlist.vue";
import document_list from "../components/content/docs.vue";
import document_edit from "../components/content/createdoc.vue";
import upload from "../components/files/upload.vue";
import files from "../components/files/files.vue";

export default {
  components: {
    content_edit,
    content_list,
    textcontent_edit,
    textcontent_list,
    mediacontent_edit,
    mediacontent_list,
    upload,
    files,
    document_list,
    document_edit
  },

  props: {
    params:{
      type: Object,
      default: null
    }
  },

  computed: {
    ...mapGetters([
      'contents'
    ])
  },

  data() {
    return {
      listContent: []
    };
  },

  created () {
    this.$store.dispatch("getListContent", { skip: 0 }).then(() => {
      this.listContent = this.contents.slice()
    })
  },

  methods: {
    getComponentName(){
      console.log('getComponentName:', this.params);
      // console.log(this.params, this.contents);
      if(this.params.isEntry && this.params.contentSlug) {
        console.log(this.params.contentSlug, this.listContent)
        var content = (this.listContent || []).find(content => content.slug == this.params.contentSlug)
        console.log(content)
        if (!content) {
          var content = new Object();
          content.type = 'textcontent'
        }
        this.params.contentId = content ? content.id : 'all';

        switch(this.params.command){
          case 'upload':
              return 'upload';
            break;
          case 'files':
              return 'files';
            break;
          default:
              console.log(`${content.type}_${this.params.command}`);
            return `${content.type}_${this.params.command}`;
        }
      }


      console.log(`${this.params.contentType}_${this.params.command}`);

      return `${this.params.contentType}_${this.params.command}`;
    }
  }
};
</script>
