<template>
  <v-form ref="form" lazy-validation v-model="valid">
    <v-container fluid grid-list-md>
      <v-layout row wrap>
        <v-flex xs12>
          <v-text-field v-model="nameLocal" :rules="nameRules" required label="Название"></v-text-field>
        </v-flex>
        <v-flex xs12>
          <v-text-field v-model="slugLocal" :rules="slugRules" required label="Slug"></v-text-field>
        </v-flex>
        <v-flex xs12>
          <v-text-field v-model="descriptionLocal" :rules="descriptionRules" required label="Описание"></v-text-field>
        </v-flex>
        <v-flex xs12 text-xs-center>
          <v-btn :disabled="!valid" color="success" @click="save">Сохранить</v-btn>
          <v-btn :disabled="!valid" color="success" @click="newPage">Добавить новый</v-btn>
          <v-btn color="success" @click="back">Назад</v-btn>
        </v-flex>
      </v-layout>
    </v-container>
  </v-form>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  props: {
    put: {
      type: Boolean,
      default: false
    },
    id: {
      type: String,
      default: null
    },
    name: {
      type: String,
      default: null
    },
    slug: {
      type: String,
      default: null
    },
    description: {
      type: String,
      default: null
    }
  },

  data() {
    return {
      valid: true,
      nameRules: [v => !!v || "Название необходимо"],
      slugRules: [v => !!v || "Slug необходим"],
      descriptionRules: [v => !!v || "Описание необходимо"],
      nameLocal: this.name,
      slugLocal: this.slug,
      descriptionLocal: this.description,
      idLocal: this.id,
      putLocal: this.put
    };
  },

  computed: {
    ...mapGetters(["pages", "page"])
  },

  methods: {
    createPage() {

      this.$store.dispatch("createPage", {
        name: this.nameLocal,
        slug: this.slugLocal,
        description: this.descriptionLocal
      }).then(() => {
        this.idLocal = this.page.id;
      });
    },

    putPage() {
      this.$store.dispatch("editPage", {
        id: this.idLocal,
        name: this.nameLocal,
        slug: this.slugLocal,
        description: this.descriptionLocal
      });
    },

    save() {
      if (this.$refs.form.validate()) {
        if ( !this.idLocal ) {
          this.createPage();
        }
        else {
          this.putPage();
        }
      };
    },

    newPage() {
      if (this.$refs.form.validate()) {
        this.idLocal ? this.putPage() : this.createPage();
        this.$refs.form.reset();
        this.putLocal = false;
        this.idLocal = null;
      }
    },

    back() {
      this.$router.push({ name: "pages" });
    },
  }
};
</script>