<template>
  <v-form ref="form" lazy-validation v-model="valid">
    <v-container fluid grid-list-md>
      <v-layout row wrap>
        <v-flex xs12>
          <v-text-field v-model="var_name" :rules="nameRules" required label="Название"></v-text-field>
        </v-flex>
        <v-flex xs12>
          <v-text-field v-model="var_slug" :rules="slugRules" required label="Slug"></v-text-field>
        </v-flex>
        <v-flex xs12>
          <v-text-field v-model="var_description" :rules="descriptionRules" required label="Описание"></v-text-field>
        </v-flex>
        <v-flex xs12>
          <v-select
            v-model="var_type"
            item-text = "name"
            item-value = "value"
            :items="var_types"
            label="Типа контента">
          </v-select>
        </v-flex>
        <v-flex xs12 text-xs-center>
          <v-btn :disabled="!valid" color="success" @click="save">Сохранить</v-btn>
          <v-btn :disabled="!valid" color="success" @click="newPage">Добавить новый</v-btn>
          <v-btn color="success" @click="back">Назад</v-btn>
        </v-flex>
      </v-layout>
    </v-container>
  </v-form>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  props: {
    id: {
      type: String,
      default: null
    },
    command: {
      type: String,
      default: null
    }
  },

  data() {
    return {
      valid: true,
      nameRules: [v => !!v || "Название необходимо"],
      slugRules: [v => !!v || "Slug необходим"],
      descriptionRules: [v => !!v || "Описание необходимо"],
      var_id: '',
      var_name: '',
      var_slug: '',
      var_description: '',
      var_type: 'textcontents',
      var_types:[
        {value:'textcontents', name:'Текст'},
        {value:'mediacontents', name:'Медиа'},
      ]
    };
  },

  computed: {
    ...mapGetters(["contents", "content"])
  },

  created() {
    this.loadPage();
  },

  methods: {
    loadPage() {
      if(this.command==='edit' && this.id) {
        this.$store.dispatch("getContent", {
          id: this.id,
        }).then(() => {
          this.var_id = this.content.id;
          this.var_name = this.content.name;
          this.var_description = this.content.description;
          this.var_slug = this.content.slug;
          this.var_type = this.content.type;
        })
      }
    },

    createPage() {
      this.$store.dispatch("createContent", {
        name: this.var_name,
        slug: this.var_slug,
        type: this.var_type,
        description: this.var_description
      }).then(() => {
        this.var_id = this.content.id;
      });
    },

    putPage() {
      this.$store.dispatch("editContent", {
        id: this.var_id,
        name: this.var_name,
        slug: this.var_slug,
        type: this.var_type,
        description: this.var_description
      });
    },

    save() {
      if (this.$refs.form.validate()) {
        if (!this.var_id && this.command==="new" ) {
          this.createPage();
        }
        else {
          this.putPage();
        }
      };
    },

    newPage() {
      if (this.$refs.form.validate()) {
        this.var_id ? this.putPage() : this.createPage();

        this.$refs.form.reset();
        this.var_id = null;
        this.var_type = 'textcontents';
      }
    },

    back() {
      this.$router.push({ name: "contents" });
    },
  }
};
</script>