<template>
  <v-container>
    <v-layout justify-center>
      <v-btn large color="primary" @click="goTo('contentlist')">Contents</v-btn>
      <v-btn large color="primary" @click="goTo('pages')">Pages</v-btn>
      <v-btn large color="primary" @click="goTo('users')">Users</v-btn>
      <v-btn large color="primary" @click="goTo('files')">Files</v-btn>
      <v-btn large color="primary" @click="goTo('search')">Поиск</v-btn>
    </v-layout>
  </v-container>
</template>

<script>
import {mapGetters} from 'vuex';
export default {

  data () {
    return {

    }
  },

  computed: {
  },

  methods: {
    goTo(name){
      this.$router.push({ name: name });;
    }
  }
}
</script>