<template>
  <v-form ref="form" lazy-validation v-model="valid">
    <v-container fluid grid-list-md>
      <v-layout row wrap>
        <v-flex xs6 offset-xs3>
          <form>
            <v-text-field v-model="email" :rules="[rules.required, rules.email]" label="E-mail"></v-text-field>
            <v-text-field
              v-model="password"
              :append-icon="showPass ? 'visibility' : 'visibility_off'"
              :rules="[rules.required, rules.min]"
              :type="showPass ? 'text' : 'password'"
              name="input-10-1"
              label="Password"
              hint="At least 8 characters"
              @click:append="showPass = !showPass"
            ></v-text-field>
            <v-select
              v-model="siteId"
              item-text="name"
              item-value="id"
              :items="sites"
              label="Сайт"
            ></v-select>
          </form>
        </v-flex>
        <v-flex xs6 offset-xs3 text-xs-center v-if="error">
          <v-alert
            :value="error"
            type="error"
          >{{error.message ? error.message : 'Sorry, got error.'}}</v-alert>
        </v-flex>
        <v-flex xs12 text-xs-center>
          <v-btn color="primary" :disabled="!valid" @click="login">Login</v-btn>
        </v-flex>
      </v-layout>
    </v-container>
  </v-form>
</template>

<script>
import { mapGetters } from "vuex";
import config from "./../config"

export default {
  data() {
    return {
      sites: config.sites,
      valid: true,
      error: null,
      siteId: "",
      email: "",
      password: "",
      showPass: false,
      rules: {
        required: value => !!value || "Required.",
        min: v => v.length >= 0 || "Min 8 characters",
        email: value => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
          return pattern.test(value) || "Invalid e-mail.";
        }
      }
    };
  },

  computed: {
    ...mapGetters([
      'current',
    ])
  },

  created() {},

  methods: {

    login() {
      this.error = null;
      this.$store
        .dispatch("login", {
          email: this.email,
          password: this.password
        })
        .then(() => {
          this.$router.push({ name: "home" });
        })
        .catch(error => {
          this.error = error;
        });
    }
  }
};
</script>