<template>
  <v-container fluid grid-list-md>
    <v-layout row wrap>
      <v-flex xs12>
        <v-card>
          <v-card-title>
            Контенты
            <v-spacer></v-spacer>
            <v-text-field
              v-model="search"
              append-icon="search"
              label="Поиск"
              single-line
              hide-details
            ></v-text-field>
          </v-card-title>
          <v-data-table
            :headers="headers"
            :items="pages"
            class="elevation-1"
            :search="search"
            hide-actions
          >
            <template v-slot:items="props">
              <td>{{ props.item.id }}</td>
              <td class="text-xs">{{ props.item.name }}</td>
              <td class="text-xs">{{ props.item.slug }}</td>
              <td class="text-xs">{{ props.item.description }}</td>
              <td class="text-xs justify-center align-center">
                  <v-icon
                  @click="editItem(props.item)"
                  class="mr-2"
                  >
                    edit
                  </v-icon>
                  <v-icon
                  @click="deleteItem(props.item.id)"
                  >
                    delete
                  </v-icon>
              </td>
            </template>
          </v-data-table>
        </v-card>
        <Pagination api="Page"/>
      </v-flex>
      <v-flex xs12 text-xs-center>
        <router-link to="/createpage">
          <v-btn color="primary">
            Новая запись
          </v-btn>
        </router-link>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import {mapGetters} from 'vuex';
import Pagination from './../components/pagination'
export default {
  
  components: {
    Pagination
  },
  
  data () {
    return {
      search: '',
      headers: [
        {
          text: 'ID',
          align: 'left',
          sortable: false,
          value: 'id'
        },
        { text: 'Название', value: 'name' },
        { text: 'Slug', value: 'slug' },
        { text: 'Описание', value: 'description' },
        { text: 'Действия', width: 110, value: 'actions', sortable: false }
      ],
    }
  },

  computed: {
    ...mapGetters([
      'pages',
    ])
  },

  methods: {
    deleteItem (id) {
        confirm('Вы точно хотите удалить это?') && this.$store.dispatch('deletePage', {
          id: id
        });
    },
    editItem (item) {
      this.$router.push({name: 'createPage', params: {
        id: item.id,
        put: true,
        name: item.name,
        slug: item.slug,
        description: item.description,
      }})
    },
  }
}
</script>