<template>
  <v-form ref="form" lazy-validation v-model="valid">
    <v-container fluid grid-list-md>
      <v-layout row wrap>
        <v-layout align-center justify-center>
          <v-card>
            <v-card-title>Выбранное фото</v-card-title>
            <v-img v-if="avatar && avatar.length > 0" max-height="250px" max-width="250px" :src="`${avatar}?dim=250x250`"></v-img>
            <v-btn color="red lighten-2" @click="pickFile" dark>{{ avatar ? 'Загрузить другое фото' : 'Загрузить фото'}}</v-btn>
          </v-card>
          <input type="file" style="display: none" ref="file" @change="onFilePicked">
        </v-layout>
        <v-flex xs12>
          <v-text-field v-model="username" required label="Имя пользователя"></v-text-field>
        </v-flex>
        <v-flex xs12 text-xs-center>
          <v-btn :disabled="!valid" color="success" @click="saveProfile">Сохранить</v-btn>
          <v-btn color="success" @click="back()">Домой</v-btn>
        </v-flex>
        <v-flex xs12 text-xs-center>
          <v-alert
            :value="alert"
            type="success"
            transition="scale-transition"
          >Данные обновлены успешно</v-alert>
        </v-flex>
      </v-layout>
    </v-container>
  </v-form>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  data() {
    return {
      alert: false,
      valid: true,
      avatar: "",
      username: ""
    };
  },

  computed: {
    ...mapGetters(["current", "members"])
  },

  created() {
    this.initContents();
  },

  methods: {
    initContents() {
      this.avatar = (this.current.user && this.current.user.profile) ? this.current.user.profile.avatar : '';
      this.username = this.current.user.username;
    },

    pickFile() {
      this.$refs.file.click();
    },

    onFilePicked(e) {
      const files = e.target.files;
      if (files[0] !== undefined) {
        if (this.fileName && this.fileName.lastIndexOf(".") <= 0) {
          return;
        }
        const fr = new FileReader();
        fr.readAsDataURL(files[0]);

        let formData = new FormData();
        formData.append("file", files[0]);
        this.$store
          .dispatch("uploadFile", {
            filedata: formData,
            name: "files"
          })
          .then(data => {
            if (
              data.result &&
              data.result.files &&
              data.result.files.file &&
              data.result.files.file.length > 0
            ) {
              this.avatar = `/images/${data.result.files.file[0].container}/${
                data.result.files.file[0].name
              }`;
            }
          });
      }
    },

    back() {
      this.$router.push({ name: "home" });
    },

    saveProfile() {
      if (this.$refs.form.validate()) {
        this.$store
          .dispatch((this.current.user && this.current.user.profile) ? "editProfile" : "createProfile", {
            userId: this.current.userId,
            avatar: this.avatar
          })
          .then(() => {
            this.$store
              .dispatch("editUser", {
                id: this.current.userId,
                username: this.username
              })
              .then(() => {
                this.alert = true;
                setTimeout(() => (this.alert = false), 2000);
              });

        });
      }
    }
  }
};
</script>