<template>
  <v-container fluid grid-list-md>
    <v-layout row wrap>
      <v-flex xs12 text-xs-center>
        <v-text-field v-on:keyup.enter="search(searchText)" v-model="searchText" label="Поиск"></v-text-field>
        <v-btn color="success" @click="search(searchText)">Поиск</v-btn>
      </v-flex>
      <v-flex xs12>
        <v-card v-if="textContents[0] && textContents[0].content && textContents[0].content.name">
          <v-card-title>
            <div class="title font-weight-black">
              Результаты поиска
            </div>
          </v-card-title>
          <v-data-table
            :headers="headers"
            :items="textContents"
            class="elevation-1"
            hide-actions
            v-bind:pagination.sync="sort"
          >
            <template v-slot:items="props">
              <td class="text-xs">{{ props.item.name }}</td>
              <td class="text-xs">{{ props.item.shortText }}</td>
              <td class="text-xs">{{ props.item.content ? props.item.content.name : 'нет' }}</td>
              <td class="text-xs">{{ props.item.isPublished ? 'Видно' : 'Не видно' }}</td>
              <td class="text-xs">{{ props.item.user ? props.item.user.username : 'нет' }}</td>
              <td class="text-xs">{{ props.item.dateCreated ? new Date(props.item.dateCreated).toLocaleDateString('ru-RU', dateOptions)  : 'нет'}}</td>
              <td class="text-xs justify-center align-center">
                <router-link :to="`/contents/entry/${props.item.content ? props.item.content.slug : 'all'}/edit/${props.item.id}`">
                  <v-icon class="mr-2">edit</v-icon>
                </router-link>
                <v-icon @click="deleteItem(props.item.id)">delete</v-icon>
              </td>
            </template>
          </v-data-table>
        </v-card>
        <v-alert
          :value="alert"
          prominent
          type="error"
          transition="scale-transition"
        >
        К сожалению, по Вашему запросу ничего не нашлось.
        </v-alert>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { mapGetters } from "vuex";
import Pagination from './../components/pagination'
export default {
  components: {
    Pagination
  },

  props: {
    params:{
      type: Object,
      default: null
    }
  },

  data() {
    return {
      searchText: "",
      dateOptions: {
        weekday: 'long',
        year: 'numeric',
        month: 'long',
        day: 'numeric'
      },
      sort: {
        sortBy: 'dateCreated',
        descending: true,
        rowsPerPage: -1
        },
      alert: false,
      headers: [
        { text: "Название", value: "name" },
        { text: "Короткий текст", value: "shortText" },
        { text: "Тип", value: "content" },
        { text: "Публикация", value: "isPublished" },
        { text: "Автор", value: "user" },
        { text: "Дата создания", value: "dateCreated" },
        { text: "Действия", width: 110, value: "actions", sortable: false }
      ],
      ofPageLocal: this.ofPage
    };
  },

  computed: {
    ...mapGetters(["textContents"])
  },

  methods: {
    search (searchText) {
      if (searchText) {
        this.$store.dispatch('getListTextContent', { where: {or: [{name: {regexp: searchText + '/i'}}, {text: {regexp: searchText + '/i'}}]}}).then(() => {
            if (!this.textContents[0]) {
              this.alert = true
            }
            else {
              this.alert = false
            }
          });
      }
    },

    deleteItem(id) {
      confirm("Вы точно хотите удалить это?") &&
        this.$store.dispatch("deleteTextContent", {
          id: id
        });
    },

    uploadItem(item) {
      this.$router.push({
        name: "uploadFile",
        params: {
          name: item
        }
      });
    },

    gotoItem(item) {
      this.$router.push({
        name: "files",
        params: {
          name: item
        }
      });
    }
  }
};
</script>