<template>
  <v-container fluid grid-list-md>
    <v-layout row wrap>
      <v-flex xs12>
        <v-card>
          <v-card-title>
            Страницы
            <v-spacer></v-spacer>
            <v-text-field
              v-model="search"
              append-icon="search"
              label="Поиск"
              single-line
              hide-details
            ></v-text-field>
          </v-card-title>
          <v-data-table
            :headers="headers"
            :items="users"
            class="elevation-1"
            :search="search"
            hide-actions
          >
            <template v-slot:items="props">
              <td class="text-xs">{{ props.item.username }}</td>
              <td class="text-xs">{{ props.item.email }}</td>
              <td class="text-xs">{{ props.item.sites }}</td>
              <td class="text-xs justify-center align-center">
                <router-link :to="`/user/edit/${props.item.id}`">
                  <v-icon class="mr-2">edit</v-icon>
                </router-link>
                  <v-icon
                  @click="deleteItem(props.item.id)"
                  >
                    delete
                  </v-icon>
              </td>
            </template>
          </v-data-table>
        </v-card>
        <Pagination api="User"/>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import {mapGetters} from 'vuex';
import Pagination from './../components/pagination'
export default {
  components: {
    Pagination
  },

  data () {
    return {
      search: '',
      headers: [
        { text: 'Логин', value: 'username' },
        { text: 'Эл. почта', value: 'email' },
        { text: 'Разрешённые сайты', value: 'sites'},
        { text: 'Действия', width: 110, value: 'actions', sortable: false }
      ],
    }
  },

  computed: {
    ...mapGetters([
      'users',
    ])
  },

  methods: {
    deleteItem (id) {
        confirm('Вы точно хотите удалить это?') && this.$store.dispatch('deleteUser', {
          id: id
        });
    },
  }
}
</script>