<template>
  <v-form ref="form" lazy-validation v-model="valid">
    <v-container fluid grid-list-md>
      <v-layout row wrap>
        <v-layout align-center justify-center>
          <v-card>
            <v-card-title>Выбранное фото</v-card-title>
            <v-img v-if="avatar && avatar.length > 0" max-height="250px" max-width="250px" :src="`${avatar}?dim=250x250`"></v-img>
            <v-btn color="red lighten-2" @click="pickFile" dark>{{ avatar ? 'Загрузить другое фото' : 'Загрузить фото'}}</v-btn>
          </v-card>
          <input type="file" style="display: none" ref="file" @change="onFilePicked">
        </v-layout>
        <v-flex xs12>
          <v-text-field v-model="nameLocal" :rules="nameRules" required label="Имя"></v-text-field>
        </v-flex>
        <v-flex xs12>
            <v-autocomplete
              v-model="chosedSites"
              :items="sites"
              label="Доступные сайты"
              item-text="name"
              item-value="name"
              multiple
            >
              <template v-slot:selection="data">
                <v-chip
                  :selected="data.selected"
                  close
                  class="chip--select-multi"
                  @input="remove(data.item)"
                >
                  {{ data.item.name }}
                </v-chip>
              </template>
              <template v-slot:item="data">
                <template v-if="typeof data.item !== 'object'">
                  <v-list-tile-content v-text="data.item"></v-list-tile-content>
                </template>
                <template v-else>
                  <v-list-tile-content>
                    <v-list-tile-title v-html="data.item.name"></v-list-tile-title>
                  </v-list-tile-content>
                </template>
              </template>
            </v-autocomplete>
          </v-flex>
        <v-flex xs12 text-xs-center>
          <v-btn :disabled="!valid" color="success" @click="save">Сохранить</v-btn>
          <v-btn color="success" @click="back">Назад</v-btn>
        </v-flex>
        <v-flex xs12 text-xs-center>
          <v-alert
            :value="alert"
            type="success"
            transition="scale-transition"
          >
            Запись успешна сохранена
          </v-alert>
        </v-flex>
      </v-layout>
    </v-container>
  </v-form>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import config from "./../config";

export default {
  props: {
    params: {
      type: Object,
      default: null
    }
  },

  data() {
    return {
      avatar: "",
      alert: false,
      chosedSites: [],
      valid: true,
      sites: config.sites,
      valid: true,
      nameRules: [v => !!v || "Название необходимо"],
      nameLocal: "",
      idLocal: ""
    };
  },

  computed: {
    ...mapGetters(["current", "user"])
  },

  created() {
    this.initContents();
  },

  methods: {
    remove (item) {
      const index = this.chosedSites.indexOf(item.name)
      if (index >= 0) this.chosedSites.splice(index, 1)
    },

    initContents() {
      if (this.params && this.params.id) {
        this.$store
          .dispatch("getUser", {
            userId: this.params.id
          })
          .then(() => {
            this.nameLocal = this.user.username;
            this.idLocal = this.user.id;
            this.chosedSites = (this.user.sites || []).slice();
            this.avatar = this.user.profile.avatar;
          });
      }
    },

    pickFile() {
      this.$refs.file.click();
    },

    onFilePicked(e) {
      const files = e.target.files;
      if (files[0] !== undefined) {
        if (this.fileName && this.fileName.lastIndexOf(".") <= 0) {
          return;
        }
        const fr = new FileReader();
        fr.readAsDataURL(files[0]);

        let formData = new FormData();
        formData.append("file", files[0]);
        this.$store
          .dispatch("uploadFile", {
            filedata: formData,
            name: "files"
          })
          .then(data => {
            if (
              data.result &&
              data.result.files &&
              data.result.files.file &&
              data.result.files.file.length > 0
            ) {
              this.avatar = `/images/${data.result.files.file[0].container}/${
                data.result.files.file[0].name
              }`;
            }
          });
      }
    },

    putUser() {
        this.$store
          .dispatch((this.user && this.user.profile) ? "editProfile" : "createProfile", {
            userId: this.idLocal,
            avatar: this.avatar
          })
          .then(() => {
            this.$store
              .dispatch("editUser", {
                id: this.idLocal,
                username: this.username,
                sites: this.chosedSites
              })
              .then(() => {
                this.alert = true;
                setTimeout(() => (this.alert = false), 2000);
              });

        });
    },

    save() {
      if (this.$refs.form.validate()) {
          this.putUser();
        }
    },

    back() {
      this.$router.push({ name: "users" });
    },
  }
};
</script>