<template>
    <div v-if="login && type === 'admin'" class="container">
        <form class="p-4" @submit.prevent="add">
            <div class="form-group">
                <label>
                    Название новости
                </label>
                <input class="form-control" v-model="name" required placeholder="Название новости">
            </div>
            <div class="form-group">
                <label>
                    Тег новости
                </label>
                <select required v-model="tag" class="form-control">
                    <option>1</option>
                    <option>2</option>
                </select>
            </div>
            <div class="form-group">
                <label>
                    Краткое содержание
                </label>
                <textarea class="form-control" rows="3" required v-model="shortText"></textarea>
            </div>
            <div class="form-group">
                <label>
                    Полное содержание
                </label>
                <textarea class="form-control" rows="6" required v-model="text"></textarea>
            </div>
            <div class="form-group">
                <label>
                    Добавить изображение
                </label>
                <input type="file" @change="onFilePicked" class="form-control-file">
            </div>
            <button type="submit" class="btn btn-primary">
                <a class="links text-white">
                    Создать
                </a>
            </button> 
        </form>
    </div>
    <div v-else>
      <Prava/>
    </div>
</template>
<script>
import { mapGetters } from 'vuex'
import Prava from './prava'
export default {
  components: {
    Prava
  },

  head () {
    return {
      title: 'Добавление новости'
    }
  },

  data () {
    return {
      login: '',
      type: '',
      name: '',
      text: '',
      shortText: '',
      tag: '',
      image: '',
      fileArr: []
    }
  },

  computed: {
    ...mapGetters(['users'])
  },

  mounted () {
    this.initContents()
  },

  methods: {
    initContents () {
      if (localStorage.login) {
        this.login = localStorage.login
        this.type = localStorage.type
      }
    },

    onFilePicked (e) {
      var files = Array.from(e.target.files)
      var promises = (files || []).map(file => {
        return new Promise((resolve, reject) => {
          const fr = new FileReader()
          fr.readAsDataURL(file)
          fr.addEventListener('load', (event) => {
            file.src = event.currentTarget.result
            file.fileType = file.type.split('/')[0]
            resolve(file)
          })
        })
      })
      Promise.all(promises).then((result) => {
        this.fileArr = result
      })
      let formData = new FormData()
      formData.append('file', this.fileArr[0])
    },

    add () {
      let formData = new FormData()
      formData.append('file', this.fileArr[0])
      this.$store.dispatch('uploadFile', { filedata: formData, name: 'files' }).then((data) => {
        this.$store.dispatch('createNews', {
          name: this.name,
          text: this.text,
          shortText: this.shortText,
          image: data.result.files.file[0].name
        }).then(() => {
          window.location.reload()
        })
      })
    }
  }
}
</script>