<template>
    <div v-if="login && typee === 'admin'" class="container">
        <form class="p-4" @submit.prevent="add">
            <div class="form-group">
                <label>
                    Наименование документа
                </label>
                <input class="form-control" v-model="name" required placeholder="Наименование документа">
            </div>
            <div class="form-group">
                <label>
                    Тип документа
                </label>
                <select v-model="type" class="form-control">
                    <option>Книга</option>
                    <option>Бюллетень</option>
                </select>
            </div>
            <div class="form-group">
                <label>
                    Автор
                </label>
                <input v-model="author" class="form-control" required placeholder="Автор">
            </div>
            <div class="form-group">
                <label>
                    ISBN
                </label>
                <input v-model="ISBN" class="form-control" required placeholder="ISBN">
            </div>
            <div class="form-group">
                <label>
                    Год издания
                </label>
                <input v-model="year" class="form-control" required placeholder="Год издания">
             </div>
            <div class="form-group">
                <label>
                    Описание
                </label>
                <textarea v-model="description" class="form-control" required rows="3"></textarea>
            </div>
            <div class="form-group">
                <label>
                    Добавить изображение
                </label>
                <input type="file" @change="onFilePicked" class="form-control-file">
            </div>
            <button type="submit" class="btn btn-primary">
                <a class="links text-white">
                    Создать
                </a>
            </button> 
        </form>
    </div>
    <div v-else>
      <Prava/>
    </div>
</template>
<script>
import { mapGetters } from 'vuex'
import Prava from './prava'
export default {
  components: {
    Prava
  },

  head () {
    return {
      title: 'Добавление документа'
    }
  },

  data () {
    return {
      login: '',
      name: '',
      type: '',
      author: '',
      ISBN: '',
      year: '',
      description: '',
      fileArr: [],
      image: '',
      count: 10,
      typee: ''
    }
  },

  computed: {
    ...mapGetters(['users'])
  },

  mounted () {
    this.initContents()
  },

  methods: {
    initContents () {
      if (localStorage.login) {
        this.login = localStorage.login
        this.typee = localStorage.type
      }
    },

    onFilePicked (e) {
      var files = Array.from(e.target.files)
      var promises = (files || []).map(file => {
        return new Promise((resolve, reject) => {
          const fr = new FileReader()
          fr.readAsDataURL(file)
          fr.addEventListener('load', (event) => {
            file.src = event.currentTarget.result
            file.fileType = file.type.split('/')[0]
            resolve(file)
          })
        })
      })
      Promise.all(promises).then((result) => {
        this.fileArr = result
      })
      let formData = new FormData()
      formData.append('file', this.fileArr[0])
    },

    add () {
      let formData = new FormData()
      formData.append('file', this.fileArr[0])
      this.$store.dispatch('uploadFile', { filedata: formData, name: 'files' }).then((data) => {
        this.$store.dispatch('createDocument', {
          name: this.name,
          type: this.type,
          author: this.author,
          ISBN: this.ISBN,
          year: this.year,
          description: this.description,
          count: this.count,
          image: data.result.files.file[0].name
        }).then(() => {
          window.location.reload()
        })
      })
    }
  }
}
</script>