<template>
    <div>
        <div v-if="login" class="container">
            <div class="row">
                <div class="col-8">
                    <form @submit.prevent="bron">
                        <div class="form-group">
                            <label>Фамилия</label>
                            <input class="form-control" v-model="f" readonly placeholder="Фамилия">
                        </div>
                        <div class="form-group">
                            <label>Имя</label>
                            <input class="form-control" v-model="n" readonly placeholder="Имя">
                        </div>
                        <div class="form-group">
                            <label>Отчество</label>
                            <input class="form-control" v-model="o" readonly placeholder="Отчество">
                        </div>
                        <div class="form-group">
                            <label>Название документа</label>
                            <input class="form-control" v-model="name" readonly placeholder="Название документа">
                        </div>
                        <div class="form-group">
                            <label>Автор</label>
                            <input class="form-control" v-model="author" readonly placeholder="Автор">
                        </div>
                        <div>
                        <label>Срок бронирования документа - 3 дня</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Подтвердить бронь</button>
                        </form>
                </div>
            </div>
        </div>
        <div v-else>
          Нельзя
        </div>
    </div>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  head () {
    return {
      title: 'Бронирование'
    }
  },

  data () {
    return {
      login: '',
      type: '',
      name: '',
      author: '',
      f: '',
      n: '',
      o: ''
    }
  },

  computed: {
    ...mapGetters(['users', 'documents', 'document'])
  },

  mounted () {
    this.initContents()
  },

  methods: {
    initContents () {
      if (localStorage.login) {
        this.login = localStorage.login
        this.type = localStorage.type
        this.$store.dispatch('getListUser', { where: { login: this.login } }).then(() => {
          this.f = this.users[0].f
          this.n = this.users[0].n
          this.o = this.users[0].o
        })
      }
      this.$store.dispatch('getDocument', { id: this.$route.query.id }).then(() => {
        this.name = this.document.name
        this.author = this.document.author
      })
    },

    bron () {
      let fromDate = new Date()
      let toDate = new Date()
      toDate.setDate(fromDate.getDate() + 3)
      this.$store.dispatch('addBron', { from: fromDate, to: toDate, documentId: this.document.id, usersId: this.users[0].id }).then(() => {
        this.$store.dispatch('editCount', { id: this.document.id, count: this.document.count - 1 }).then(() => {
          this.$router.push({ path: '/profile' })
        })
      })
    }
  }
}
</script>