<template>
    <div class="container my-3">
      <div class="row">
          <div class="col-12 d-flex justify-content-center align-items-center pt-3">
              <span>
                  <strong>
                        Вы не авторизированы, войдите в систему!
                  </strong>
              </span>
          </div>
      </div>
    </div>
</template>
<script>
import { mapGetters } from 'vuex'
import Biblio from './../components/biblio'
import Admin from './../components/admin'
export default {
  components: {
    Biblio,
    Admin
  },

  head () {
    return {
      title: 'Личный кабинет'
    }
  },

  data () {
    return {
      login: '',
      books: [],
      password: '',
      f: '',
      n: '',
      o: '',
      date: '',
      number: '',
      type: ''
    }
  },

  computed: {
    ...mapGetters(['users'])
  },

  mounted () {
    this.initContents()
  },

  methods: {
    initContents () {
      if (localStorage.login) {
        this.login = localStorage.login
        this.type = localStorage.type
        this.$store.dispatch('getUserBooks', { where: { login: this.login } }).then(() => {
          this.books = this.users[0].books
          this.f = this.users[0].f
          this.n = this.users[0].n
          this.o = this.users[0].o
          this.password = this.users[0].password
          this.date = this.users[0].date.substring(0, 10)
          this.number = this.users[0].number
        })
      }
    },

    save () {
      this.$store.dispatch('editUser', {
        id: this.users[0].id,
        f: this.f,
        n: this.n,
        o: this.o,
        login: this.login,
        password: this.password,
        books: this.books,
        date: this.date,
        number: this.number
      }).then(() => {
        window.location.reload()
      })
    }
  }
}
</script>