<template>
  <div>
    <img class="pic-blok" src="http://library.rsu.edu.ru/blog/wp-content/uploads/2015/03/%D0%91%D0%90%D0%9D%D0%9D%D0%95%D0%A0-%D0%B4%D0%BB%D1%8F-%D1%81%D0%B0%D0%B9%D1%82%D0%B0-%D0%9D%D0%91-%D0%A0%D0%93%D0%A3-%D0%B8%D0%BC.-%D0%A1.%D0%90.-%D0%95%D1%81%D0%B5%D0%BD%D0%B8%D0%BD%D0%B0.jpg">
    <Search/>
    <div class="container mt-3">
      <div class="row">
        <div class="col-12">
          <h4>
            Недавние поступления
          </h4>
        </div>
      </div>
      <div class="row d-flex justify-content-start py-3">
        <div v-for="doc in docs" :key="doc.id" class="col-3">
          <router-link :to="{path:'/documents/'+ doc.id}" class="menu-link">
            <img :src='"http://localhost:3001/api/Storages/files/download/" + doc.image'>
          </router-link>
        </div>
      </div>
    </div>
    <div class="container mt-3">
      <div class="row">
        <div class="col-12">
          <h4>
            Последние новости
          </h4>
        </div>
      </div>
      <div class="row d-flex justify-content-start py-3">
        <div v-for="news in news" :key="news.id" class="col-3">
          <router-link :to="{path:'/news/'+ news.id}" class="menu-link">
          <div class="card">
            <img :src='"http://localhost:3001/api/Storages/files/download/" + news.image' class="card-img-top">
            <div class="card-body">
              <h5 class="text-dark">{{ news.name }}</h5>
            </div>
          </div>
          </router-link>
        </div>
      </div>
    </div>
    <div class="container mt-3">
      <div class="row">
        <div class="col-12">
            <h4>
              О библиотеке
            </h4>
          </div>
      </div>
      <div class="row py-3">
        <div class="col-12"> Тут должен быть текст хотя бы на русском. Всегда бесил этот лорен, потому что он на долбанном французском.
          Не так сложно написать пару строчек текста, да и выглядеть будем намного приятнее.
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Search from './search'
export default {
  components: {
    Search
  },

  head () {
    return {
      title: 'Главная страница библиотеки'
    }
  },

  data () {
    return {
      max: 4,
      docs: []
    }
  },

  computed: {
    ...mapGetters(['news', 'documents'])
  },

  mounted () {
    this.initContents()
  },

  methods: {
    initContents () {
      this.$store.dispatch('getListNews', { limit: this.max })
      this.$store.dispatch('getListDocument', { limit: this.max }).then(() => {
        this.docs = this.documents.slice()
      })
    }
  }
}
</script>
