<template>        
  <div class="container">
    <form class="pt-4" @submit.prevent="login">
      <div class="form-group">
        <label>
          Логин или номер читательского формуляра
        </label>
        <input type="login" v-model="mail" class="form-control" placeholder="Логин или номер читательского формуляра">
      </div>
      <div class="form-group">
        <label>
          Пароль
        </label>
        <input type="password" v-model="password" class="form-control" placeholder="Пароль">
      </div>
      <button type="submit" class="btn btn-primary">
        <!-- <a class="links text-white" type="submit"> -->
          Войти
        <!-- </a> -->
      </button> 
      <span>
         Если вы еще не зарегистрированы, то Вам 
         <router-link to='registration'>
           сюда
         </router-link>
      </span>
    </form>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  data () {
    return {
      mail: '',
      password: ''
    }
  },

  computed: {
    ...mapGetters(['auth', 'users'])
  },

  mounted () {
    this.initContents()
  },

  methods: {
    login () {
      for (let i = 0; i < this.users.length; ++i) {
        if (this.users[i].login === this.mail & this.users[i].password === this.password) {
          this.$store.dispatch('getAuth', { bool: true }).then(() => {
            localStorage.login = this.users[i].login
            localStorage.type = this.users[i].type
            this.$router.push({ path: '/' })
          })
        };
      }
    },

    initContents () {
      this.$store.dispatch('getListUser').then(() => {
        console.log(this.users)
      })
    }
  }
}
</script>