<template>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Фамилия</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" readonly placeholder="Фамилия">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Имя</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" readonly placeholder="Имя">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Отчество</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" readonly placeholder="Отчество">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Название документа</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" readonly placeholder="Название документа">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Автор</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" readonly placeholder="Автор">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Срок продления</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Срок продления">
                        </div>
                        <button type="submit" class="btn btn-primary">Подтвердить продление</button>
                        </form>
                </div>
            </div>
        </div>
    </div>
</template>