<template>
    <div class="container" v-if="login && type === 'user'">
      <div class="row d-flex justify-content-end py-3">
        <div class="col-auto">
          <span>
              Добро пожаловать, <i> {{ f }} {{ n }} </i>
          </span>
        </div>
        <div class="col-auto">  
          <div>
            <b-button v-b-modal.modal-1>Открыть настройки</b-button>
              <b-modal id="modal-1" title="Настройки профиля" hide-footer>
                <div class="container">
                  <form class="pt-4" @submit.prevent="save">
                    <div class="form-group">
                      <label>
                        Изменить свои данные:
                      </label>
                      <input v-model="f" class="form-control" required placeholder="Фамилия">
                      <input v-model="n" class="form-control" required placeholder="Имя">
                      <input v-model="o" class="form-control" required placeholder="Отчество">
                      <input type="date" v-model="date" class="form-control" min="1919-01-01" max="2016-01-01" required placeholder="Дата рождения">
                      <input v-model="numberr" class="form-control" required placeholder="Номер телефона">
                    </div>
                    <div class="form-group">
                      <label>
                        Введите новый пароль
                      </label>
                      <input type="password" v-model="password" class="form-control" required placeholder="Пароль">
                    </div>
                    <button type="submit" class="btn btn-primary">
                      Сохранить
                    </button> 
                  </form>
                </div>
              </b-modal>
          </div>
        </div>
      </div>
      <div>  
        <b-alert v-model="bookAlert" variant="danger" dismissible>
          У Вас есть документы, срок сдачи которых подходит к концу, или уже закончился.<br>
          Пожалуйста, сдавайте всё в сроки указанные в личном кабинете.<br>
          Если документ Вам ещё нужен - продлите его. Продлить можно не более чем на 10 дней.<br>
          Если у Вас нет такой возможности - предупредите нас об этом!
        </b-alert>
        <b-alert v-model="bronAlert" variant="warning" dismissible>
          У Вас есть документы, срок брони которых подходит к концу.<br>
          Если документ Вам ещё нужен - продлите бронь или заберите его в библиотеке. Продлить можно не более чем на 10 дней.<br>
          Иначе с документа будет снята бронь!
        </b-alert>
      </div>
      <div v-if="bron && bron.length > 0" class="row d-flex align-items-center">
        Брони
          <div class="col-12">
              <div v-for="(book,index) in bronLocal" :key="book.name" class="row d-flex align-items-center py-3">
                  <div class="col-1">
                      <span>
                          №{{index + 1}}
                      </span>
                  </div>
                  <div class="col-5">
                    <router-link :to="{path:'/documents/'+ book.documentBron.id}">
                      <span>
                        {{ book.documentBron.name }}
                      </span>
                    </router-link>
                  </div>
                  <div class="col-2">
                      <span>
                         С
                      </span>
                      {{ format(book.from) }}
                  </div>
                  <div class="col-2">
                      <span>
                          До
                      </span>
                      {{ format(book.to) }}
                  </div>
                  <div v-if="book.prod" class="col-2">
                    <b-button v-b-modal.modal-2 v-on:click="maxxBron(book.from, book.to)">Продлить</b-button>
                      <b-modal id="modal-2" title="Продление брони" hide-footer>
                        <div class="container">
                          <form class="pt-4" @submit.prevent="plusBron(book.id, book.to, book.prod)">
                            <div class="form-group">
                              <label>
                                Выбрать количество дней: {{ count }}
                              </label>
                              <input v-model="count" type="range" class="custom-range" min="1" :max="maxBron">
                            </div>
                            <button type="submit" class="btn btn-primary">
                              Продлить
                            </button> 
                          </form>
                        </div>
                      </b-modal>
                  </div>
              </div>
          </div>
      </div>
      <div v-else>
        У Вас нет забронированных книг
      </div>
      <div v-if="books && books.length > 0" class="row d-flex align-items-center">
        Книги
          <div class="col-12">
              <div v-for="(book,index) in booksLocal" :key="book.name" class="row d-flex align-items-center py-3">
                  <div class="col-1">
                      <span>
                          №{{index + 1}}
                      </span>
                  </div>
                  <div class="col-5">
                    <router-link :to="{path:'/documents/'+ book.document.id}">
                      <span>
                        {{ book.document.name }}
                      </span>
                    </router-link>
                  </div>
                  <div class="col-2">
                      <span>
                         С
                      </span>
                      {{ format(book.from) }}
                  </div>
                  <div class="col-2">
                      <span>
                          До
                      </span>
                      {{ format(book.to) }}
                  </div>
                  <div v-if="book.prod" class="col-2">
                    <b-button v-b-modal.modal-3 v-on:click="maxxBook(book.from, book.to)" >Продлить</b-button>
                      <b-modal id="modal-3" title="Продление документа" hide-footer>
                        <div class="container">
                          <form class="pt-4" @submit.prevent="plusBook(book.id, book.to, book.prod)">
                            <div class="form-group">
                              <label>
                                Выбрать количество дней: {{ count }}
                              </label>
                              <input v-model="count" type="range" class="custom-range" min="1" :max="maxBook">
                            </div>
                            <button type="submit" class="btn btn-primary">
                              Продлить
                            </button> 
                          </form>
                        </div>
                      </b-modal>
                  </div>
              </div>
          </div>
      </div>
      <div v-else>
        У Вас нет взятых книг
      </div> 
    </div>
    <div v-else-if="login && type ==='admin'">
      <Admin/>
    </div>
    <div v-else-if="login && type ==='biblio'">
      <Biblio/>
    </div>
    <div v-else>
        <Error/>
    </div>
</template>
<script>
import { mapGetters } from 'vuex'
import Biblio from './../components/biblio'
import Admin from './../components/admin'
import Error from './error'
export default {
  components: {
    Biblio,
    Admin,
    Error
  },

  head () {
    return {
      title: 'Личный кабинет'
    }
  },

  data () {
    return {
      login: '',
      password: '',
      f: '',
      n: '',
      o: '',
      date: '',
      numberr: '',
      type: '',
      count: 1,
      maxBook: 10,
      maxBron: 10,
      booksLocal: [],
      bronLocal: [],
      bookAlert: false,
      bronAlert: false
    }
  },

  computed: {
    ...mapGetters(['users', 'books', 'bron'])
  },

  mounted () {
    this.initContents()
  },

  methods: {
    initContents () {
      if (localStorage.login) {
        this.login = localStorage.login
        this.type = localStorage.type
        this.$store.dispatch('getListUser', { where: { login: this.login } }).then(() => {
          this.f = this.users[0].f
          this.n = this.users[0].n
          this.o = this.users[0].o
          this.password = this.users[0].password
          this.date = this.users[0].date.substring(0, 10)
          this.numberr = this.users[0].number
          if (this.type === 'user' && this.users[0].id) {
            this.$store.dispatch('getUserBooks', { id: this.users[0].id }).then(() => {
              this.booksLocal = this.books.slice()
              for (let i = 0; i < this.booksLocal.length; ++i) {
                var from = new Date(this.booksLocal[i].from)
                var to = new Date(this.booksLocal[i].to)
                var daysLag = Math.ceil(Math.abs(to.getTime() - from.getTime()) / (1000 * 3600 * 24))
                if (daysLag < 13 && daysLag > 0) {
                  this.booksLocal[i].prod = true
                }
                var today = new Date()
                var day = Math.ceil(Math.abs(to.getTime() - today.getTime()) / (1000 * 3600 * 24))
                console.log(day)
                if (day < 3) {
                  this.bookAlert = true
                }
              }
            })
            this.$store.dispatch('getUserBron', { id: this.users[0].id }).then(() => {
              this.bronLocal = this.bron.slice()
              for (let i = 0; i < this.bronLocal.length; ++i) {
                var from = new Date(this.bronLocal[i].from)
                var to = new Date(this.bronLocal[i].to)
                var daysLag = Math.ceil(Math.abs(to.getTime() - from.getTime()) / (1000 * 3600 * 24))
                if (daysLag < 13 && daysLag > 0) {
                  this.bronLocal[i].prod = true
                }
                var today = new Date()
                var day = Math.ceil(Math.abs(to.getTime() - today.getTime()) / (1000 * 3600 * 24))
                console.log(day)
                if (day < 3) {
                  this.bronAlert = true
                }
              }
            })
          }
        })
      }
    },

    maxxBook (from, to) {
      var dateFrom = new Date(from)
      var dateToMax = new Date(from)
      var dateTo = new Date(to)
      dateToMax.setDate(dateFrom.getDate() + parseInt('13'))
      var daysLag = Math.ceil(Math.abs(dateToMax.getTime() - dateTo.getTime()) / (1000 * 3600 * 24))
      this.maxBook = daysLag
    },

    maxxBron (from, to) {
      var dateFrom = new Date(from)
      var dateToMax = new Date(from)
      var dateTo = new Date(to)
      dateToMax.setDate(dateFrom.getDate() + parseInt('13'))
      var daysLag = Math.ceil(Math.abs(dateToMax.getTime() - dateTo.getTime()) / (1000 * 3600 * 24))
      this.maxBron = daysLag
    },

    format (date) {
      return date.substring(0, 10)
    },

    plusBron (bronId, to, prod) {
      if (prod) {
        var d = new Date(to)
        d.setDate(d.getDate() + parseInt(this.count))
        this.$store.dispatch('plusBron', { id: bronId, to: d }).then(() => {
          this.$store.dispatch('getUserBron', { id: this.users[0].id })
          this.initContents()
        })
        this.count = 1
      }
    },

    plusBook (bookId, to, prod) {
      if (prod) {
        var d = new Date(to)
        d.setDate(d.getDate() + parseInt(this.count))
        this.$store.dispatch('plusBook', { id: bookId, to: d }).then(() => {
          this.$store.dispatch('getUserBooks', { id: this.users[0].id })
          this.initContents()
        })
        this.count = 1
      }
    },

    save () {
      this.$store.dispatch('editUser', {
        id: this.users[0].id,
        f: this.f,
        n: this.n,
        o: this.o,
        login: this.login,
        password: this.password,
        date: this.date,
        number: this.number,
        type: this.type
      }).then(() => {
        window.location.reload()
      })
    }
  }
}
</script>