<template>        
  <div class="container">
    <form class="pt-4" @submit.prevent="reg">
      <div class="form-group">
        <label>
          Придумайте логин
        </label>
        <input type="login" v-model="login" class="form-control" required placeholder="Логин">
      </div>
      <div class="form-group">
        <label>
          Введите свои данные:
        </label>
        <input v-model="f" class="form-control" required placeholder="Фамилия">
        <input v-model="n" class="form-control" required placeholder="Имя">
        <input v-model="o" class="form-control" required placeholder="Отчество">
        <input type="date" v-model="date" class="form-control" min="1919-01-01" max="2016-01-01" required placeholder="Дата рождения">
        <input v-model="number" class="form-control" required placeholder="Номер телефона">
      </div>
      <div class="form-group">
        <label>
          Придумайте пароль
        </label>
        <input type="password" v-model="password" required class="form-control" placeholder="Пароль">
      </div>
      <button type="submit" class="btn btn-primary">
          Зарегистрироваться!
      </button> 
    </form>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  head () {
    return {
      title: 'Регистрация'
    }
  },

  data () {
    return {
      login: '',
      password: '',
      f: '',
      n: '',
      o: '',
      date: '',
      number: ''
    }
  },

  computed: {
    ...mapGetters(['users'])
  },

  methods: {
    reg () {
      this.$store.dispatch('reg', {
        login: this.login,
        password: this.password,
        f: this.f,
        n: this.n,
        o: this.o,
        date: this.date,
        number: this.number,
        type: 'user'
      }).then(() => {
        this.$router.push({ path: '/login' })
      })
    }
  }
}
</script>