<template>
  <div>
    <div class="container mt-3">
      <div class="row d-flex justify-content-between">
        <div class="col-11">
          <input type="search" v-model="textS" class="form-control" placeholder="Поиск по каталогу">  
        </div>
        <div class="col-1 d-flex justify-content-end">
          <button v-on:click="search()" class="btn btn-primary">Поиск</button>  
        </div>
      </div>
      <div>  
        <b-alert v-model="searchNull" variant="danger">
          По Вашему запросу ничего не найдено. Попробуйте другой вариант запроса.
        </b-alert>
        <b-alert v-model="empty" variant="warning">
          Вы задали пустой поисковой запрос.
        </b-alert>
      </div>
      <div v-if="alert" class="row d-flex justify-content-start py-3">
        <div class="col-12">
          <div v-if="alert" class="row">
            <div class="col-12 py-2">
              <h4>Результаты поиска</h4>
            </div>
          </div>
        </div>
          <div v-for="doc in documents" :key="doc.id" class="col-12">
            <div class="row d-flex justify-content-start align-items-center py-3">
                <div class="col-2">
                  <router-link :to="{path:'/documents/'+ doc.id}" class="menu-link">
                    <img :src='"http://localhost:3001/api/Storages/files/download/" + doc.image' height="200">
                  </router-link>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-12">
                          <router-link :to="{path:'/documents/'+ doc.id}">
                            {{ doc.name }}
                          </router-link>
                        </div>
                        <div class="col-12">
                            <span>
                                Автор:
                            </span>
                            {{ doc.author }}
                        </div>
                        <div class="col-12">
                            <span>
                                ISBN:
                            </span>
                            {{ doc.ISBN }}
                        </div>
                        <div class="col-12">
                            <span>
                                Год издания:
                            </span>
                            {{ doc.year }}
                        </div>
                        <div class="col-12">
                            <span>
                                В наличии: {{ doc.count }} шт.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable */
import { mapGetters } from 'vuex'
export default {
  head () {
    return {
      title: 'Результаты поиска'
    }
  },

  data () {
    return {
      max: 4,
      textS: '',
      alert: false,
      searchNull: false,
      empty: false
    }
  },

  computed: {
    ...mapGetters(['documents'])
  },

  methods: {
    search () {
      this.searchNull = false
      this.empty = false
      this.alert = false
      if (this.textS) {
        this.$store.dispatch('getListDocument', { where: { or: [ { name: { regexp: this.textS + '/i' }}, { ISBN: { regexp: this.textS + '/i' }}, { author: { regexp: this.textS + '/i' }}]}}).then(() => {
          if (this.documents[0]) {
            this.alert = true
          } else {
            this.alert = false
            this.searchNull = true
          }
        })
      } else {
        this.empty = true
      }
    }
  }
}
</script>
