.block-margin {
  margin-top: 3rem;
}
  
.block-pagging {
  padding-top: 13vh;
  padding-bottom: 9vh;
}

.light-blue {
  clip-path: polygon(0 13%, 100% 0, 100% 100%, 0 90%);
  background-color: hsla(214, 33%, 65%, 0.2)
}

.dark-blue {
  clip-path: polygon(0 13%, 100% 6%, 100% 95%, 0 90%);
  background-color: hsl(214, 33%, 65%);
}

.big-grey {
  clip-path: polygon(0 0, 100% 17%, 100% 100%, 0 100%);
  height:100%;
  width:100%; 
  background-color: #E1E1E1;
}

.total-blue {
  // clip-path: polygon(0 27%, 100% 13%, 100% 100%, 0 100%);
  height:100%;
  width:100%; 
  background-color: #101720;
}

.t-block {
  border-left: 5px solid #eee;
  padding-left: 20px;
  font-size: 1rem;
}

.big-tria {
  clip-path: polygon(0 85%, 100% 0, 100% 100%, 0 100%);
  height:100%;
  width:100%; 
  background-color: #10172025;
  margin-top: -0.1rem;
}

.mini-tria {
clip-path: polygon(0 85%, 100% 38%, 100% 100%, 0 100%);
background-color: #101720;
}

