.nko-card {
  background-color: hsl(214, 33%, 65%);
  color: #ffffff;
  max-height: 6.5rem;
  height: 6.5rem;
  cursor: pointer;
}

.nko-card:hover {
  background-color: hsl(214, 33%, 65%);
  color: #ffffff;
}

.nko-collapse {
  background-color:#F7F7F7;
}

.card-text {
  text-align: left;
  line-height: 1.2;
}

.text-newscard {
  color: #000000;
  text-decoration: none;
}

.text-newscard:hover {
  // color: #2f4da0;
  // color: hsl(214, 33%, 65%);
  // color: #88A2C3;
  text-decoration: none;
}

.text-newscard:focus {
  // color:hsl(215, 21%, 46%);
  text-decoration: none;
}

.text-newscard:active {
  // color: hsl(215, 21%, 46%);
  text-decoration: none;
}

.collapsed {
  background-color:rgb(221, 221, 221);
  color: #000000;
  max-height: 7.5rem;
  cursor: pointer;
}
  