.VueCarousel {
    padding: 2rem 0rem;
    .VueCarousel-wrapper {
        .VueCarousel-slide {
            text-align: center;
        }
    }
    .VueCarousel-pagination {
        .VueCarousel-dot-container {
            .VueCarousel-dot {
                border-radius: 100% !important;
                &:focus{
                    outline: none
                }
            }
        }
    }
}