.editor .toggle-editor, .editor .content-editor {
  background-color: #e5e5e5;
}
.editor .toggle-editor {
  width: 50px;
  height: 50px;
  float: left;
  line-height: 50px;
  text-align: center;
}

.editor .content-editor {
  height: 100%;
  margin-left: 50px;
}
