.gallery {
    .gallery_thumb {
        height: 16rem;
        padding: 10px 20px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-color: #ecf1f5;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        &:hover {
            text-decoration: none;
        }
    }
    .gallery_title {
        color: #ffffff;
    }
}

.gallery-margin {
    margin-bottom: 2.5rem;
}

.album-item {
    height: 18rem;
    width: 18rem;
}
  
.video-item {
    height: 15rem;
}

.video-frame {
    height: 37rem;
    width: 100%;
}

.pic-size {
    height: 14rem;
    width: 14rem;
}
  
.gallery-item {
    height: 17rem;
    width: 17rem;
}