@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:400,500&display=swap&subset=cyrillic');
$font-family: 'M PLUS Rounded 1c', sans-serif;
// $font-stack: 'Noto Serif TC', serif;
// $font-header: 'Fira Sans Condensed', sans-serif;
// $font-subheader: 'Fira Sans Condensed', sans-serif;
$font-stack: 'M PLUS Rounded 1c', sans-serif;
$font-header: 'M PLUS Rounded 1c', sans-serif;
$font-subheader: 'M PLUS Rounded 1c', sans-serif;

$primary-color: #525452;
$secondary-color: #525452;
// $primary-link-color: hsl(214, 33%, 65%);
$primary-link-color: #6A86AB;

* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
  border: none;
  padding: 0px;
  margin: 0px
}

body {
  font-family: $font-stack;
  color: $primary-color;
  font-size: 20px;
  // font-weight: lighter;
  font-weight: 300;
  padding: 0px;
  margin: 0px;
  line-height: 1.5;
}

.header-style {
  background-color: #7992c2;
  color: black;
}

.menu-style {
  background-color: #62759e;
  color: white;
}

.menu-link {
  color:white !important;
  text-decoration: none !important;
}

.menu-link:hover {
  color:white !important;
  text-decoration: none !important;
}

.menu-link:focus {
  color:white !important;
  text-decoration: none !important;
}

.menu-link:active {
  color:white !important;
  text-decoration: none !important;
}

.menu-link-area:hover {
  background-color: #6887c9;
}

.text-newscard:hover {
  color: $primary-link-color;
}

.editor .toggle-editor a{
    color: $primary-color;
  }

.round-btn {
  padding: .5rem;
}

.texts {
  text-align: justify;
}

.footer-padding {
  padding-top: 4.5rem;
}

.card {
  border: 0px;
}

.card-title {
  font-family: $font-header;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.card-tags, .card-tags a {
  font-family: $font-header;
  font-weight: 400;
  font-size: .9rem;
  text-transform: uppercase;
  padding: 0 5px 0 0;
  color: lighten($primary-color, 30%);
}

.card-date {
  font-family: $font-header;
  font-size: .8rem;
  padding: 0 5px 0 0;
  color: lighten($primary-color, 30%);
}

.card-footer {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
}

.card-footer em {
  font-style: normal;
}

.card-footer em a{
  color: #ffffff;
  padding: 0px 5px;
}

.fade {
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.fade--out:hover {
     opacity: 0;
}

.blog-footer p:last-child {
  margin-bottom: 0;
}

.content-block {
  background-color: #fafafa;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}

.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Footer
 */
// .footer {
//   padding: 2.5rem 0;
//   color: #fff;
//   text-align: center;
//   background-color: #000000;
// }

.header {
  line-height: 1.2rem;
  // height: 40px;
  // background-color: #fafafa;
  font-size: 1.2rem;
  background-color: #6986AB;
  height: auto;
}

.header-logo {
  img {
    float: left;
    padding-right:4px;
  }

  h4 {
  text-transform: uppercase;
  font-family: $font-header;
  padding-bottom: 0px;
    margin-bottom: 0px;
  }

  h5 {
    font-family: $font-subheader;
  }
}

 h1, h2, h3, h4, h5, h6 {
   font-family: $font-stack;
 }

 .jumbotron {
   min-height: 540px;
   border-radius: 0px;
 }

.svg-inline--fa {
  max-width: 20px;
}

button, a {
  cursor: pointer;
}

.app {
  overflow-x: scroll;
  display: flex;
}

.input-img {
  // border-color: #28a745;
  padding-left: 35px;
  background-image: url('../img/search-icon.png');
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 3% center;
}

.input-img:focus {
  padding-left:40px;
}

.input-width {
  width: 75%;
  transition: all 0.5s cubic-bezier(.54, .09, .76, .92);
}

.input-width:focus {
  width: 100%;
  margin-left: -25%;
}

.p-indent {
  text-indent: 1.5em;
}

.desktop-menu {
  display: block;
}

.mobile-menu {
  display: none;
}

.mobile-menu-img {
  background-color: transparent !important;
}

.desktop-list {
  display: block;
}

.mobile-list {
  display: none;
}

.news-button {
  background-color: #3FA2F7;
  color: #ffffff;
  height: 4.5rem;
  width: 4.5rem;
}

.news-button:hover {
  color: #ffffff;
}

.news-button:active {
  color: #ffffff;
}

.main-padding {
  padding-left: 5rem;
  padding-right: 5rem;
}

.search-font {
  font-family: -apple-system, 'Roboto', 'Segoe UI', BlinkMacSystemFont, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.clickable {
  cursor: pointer;
}

.card-text {
  text-align: justify;
  line-height: 1.2;
}

.disabled-button {
  filter: grayscale(0.75);
}

.header-padding{
  padding-left: .25rem;
  padding-right: .25rem;
}

.desktop-header {
  display: block;
}

.mobile-header {
  display: none;
}

.desktop-footer {
  display: block;
}

.mobile-footer {
  display: none;
}

.mobile-header-text {
  text-align: center;
}

.text-black {
  color: black;
}