.links {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
}

.links:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
}

.links:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
}

.links:active {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
}