.list-group {
    box-shadow: 0 4px 4px rgba(0,0,0,.02);
    background: #ffffff;
    padding: 20px 0px;
  
    .list-title {
      margin: 0px 26px;
      font-family: $font-header;
      font-weight: 700;
      font-size: 1.8rem;
    }
  
    .list-group-item {
      border: none;
      padding: 0;
  
      .list-group-item--content {
        border-bottom: 1px solid $primary-color;
        margin: 1px 26px;
        padding: 12px 0;
        display: block;
        color: $primary-color;
      }
    }
  
    .list-group-item:last-child {
      .list-group-item--content {
        border-bottom: none;
      }
    }
  }

.marker {
  list-style-type: none;
}

.marker::before{
  content: "-"
}


.second-marker {
  list-style-type: none;
}

.second-marker::before {
  content: url('../img/marker.svg');
  display: inline-block;
  transition: all 0.4s linear;
}

.second-marker-rotate {
  list-style-type: none;
}

.second-marker-rotate::before {
  content: url('../img/marker.svg');
  display: inline-block;
  transform: rotate(90deg);
  transition: all 0.4s linear;
}

.li-cursor {
  cursor: pointer;
}

.li-text-cursor {
    cursor: default;
}