@media (min-width: 992px) and (max-width:1199px){
    .pic-blok {
        margin-top: -4rem;
    }
    .big-grey {
        clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%) !important;
      }
    .gallery-item {
        height: 14rem !important;
        width: 14rem !important;
    }
    .dark-blue {
        clip-path: polygon(0 17%,100% 6%,100% 95%,0 90%)!important;
    }
    .light-blue {
        clip-path: polygon(0 17%,100% 0,100% 100%,0 90%)!important;
    }
    .nko-card {
        // background-color: hsl(214, 33%, 65%);
        // color: #ffffff;
        max-height: 9.5rem!important;
        height: 9.5rem!important;
    }
    .collapsed {
        // background-color:rgb(221, 221, 221);
        // color: #000000;
        max-height: 9.5rem!important;
    }
    .gallery-margin {
        margin-bottom: 1.5rem!important;
    }
    .pic-size {
        height: 14rem;
        width: 14rem;
    }
    .video-frame {
        height: 30rem !important;
        width: 100% !important;
    }
}

@media (max-width: 1050px) {
    .desktop-menu {
        display: none;
    }
    .mobile-menu{
        display: block;
    }
    .desktop-list {
        display: none;
      }
    .mobile-list {
        display: block;
    }
    .float-right {
        float: none !important;
    }
    .video-frame {
        height: 30rem !important;
        width: 100% !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .pic-size {
        height: 13rem;
        width: 13rem;
    }
    .pic-blok {
        margin-top: -0rem !important;
    }
    .big-grey {
        clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%) !important;
      }
    .dark-blue {
        clip-path: polygon(0 17%,100% 6%,100% 95%,0 90%)!important;
    }
    .light-blue {
        clip-path: polygon(0 17%,100% 0,100% 100%,0 90%)!important;
    }
    .gallery-item {
        height: 21rem !important;
        width: 21rem !important;
    }
    .input-width {
        width: 100%;
    }
    .input-width:focus {
        width: 100%!important;
        margin-left: 0%!important;
    }
    .input-img:focus {
        padding-left:35px!important;
      }
    .desktop-menu {
        display: none;
    }
    .mobile-menu{
        display: block;
    }
    .float-right {
        float: none !important;
    }
    .desktop-list {
        display: none;
      }
    .mobile-list {
        display: block;
    }
    .nko-card {
        background-color: hsl(214, 33%, 65%);
        color: #ffffff;
        max-height: 8.5rem!important;
        height: 8rem!important;
    } 
    .collapsed {
        background-color:rgb(221, 221, 221);
        color: #000000;
        max-height: 8.5rem!important;
        // height: 8rem!important;
    }
    .gallery-margin {
        margin-bottom: 0.5rem!important;
    }
    .news .item-1-1 {
        padding: 15px;
        width: 50% !important;
        height: 45vw !important;
        padding: 10px;
        background-size: cover !important;
    }
    .pic-size {
        height: 8rem !important;
        width: 8rem !important;
    }
    .video-frame {
        height: 22rem !important;
        width: 100% !important;
    }
}

@media  (min-width: 576px) and (max-width: 767px){
    .pic-size {
        height: 10rem !important;
        width: 10rem !important;
    }
    .pic-blok {
        margin-top: 0rem !important;
    }
    .big-tria {
        margin-top: -0.4rem;
    }
    .big-grey {
        clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 100%) !important;
    }
    .little-grey {
        clip-path: polygon(0 23%, 100% 0, 100% 100%, 0 100%) !important;
    }
    .gallery-item {
        height: 21rem !important;
        width: 21rem !important;
    }
    .dark-blue {
        clip-path: polygon(0 17%,100% 6%,100% 95%,0 90%)!important;
    }
    .light-blue {
        clip-path: polygon(0 17%,100% 0,100% 100%,0 90%)!important;
    }
    .input-width {
        width: 100%;
    }
    .input-width:focus {
        width: 100%!important;
        margin-left: 0%!important;
    }
    .input-img:focus {
        padding-left:35px!important;
      }
    .desktop-menu {
        display: none;
    }
    .mobile-menu{
        display: block;
    }
    .float-right {
        float: none !important;
    }
    .desktop-list {
        display: none;
      }
    .mobile-list {
        display: block;
    }
    .news .item-1-1 {
        padding: 15px;
        width: 50% !important;
        height: 45vw !important;
        padding: 10px;
        background-size: cover !important;
    }
    .pic-size {
        height: 8rem !important;
        width: 8rem !important;
    }
    .video-frame {
        height: 15rem !important;
        width: 100% !important;
    }
}

@media  (min-width: 400px) and (max-width: 575px){
    .pic-size {
        height: 7rem !important;
        width: 7rem !important;
    }
    .pic-blok {
        margin-top: -0rem !important;
    }
    .big-grey {
        clip-path: polygon(0 0, 100% 3%, 100% 100%, 0 100%) !important;
    }
    .little-grey {
        clip-path: polygon(0 19%,100% 0,100% 100%,0 100%)!important;
    } 
    .big-tria {
        margin-top: -0.775rem !important;
    }
    .total-blue {
    }
    .dark-blue {
        clip-path: polygon(0 7%,100% 4%,100% 98%,0 96%)!important;
    }
    .light-blue {
        clip-path: polygon(0 7%,100% 0,100% 100%,0 96%)!important;
    }
    .gallery-item {
        height: 21rem !important;
        width: 21rem !important;
    }
    .input-width {
        width: 100%;
    }
    .input-width:focus {
        width: 100%!important;
        margin-left: 0%!important;
      }
      .input-img:focus {
        padding-left:35px!important;
      }
    .desktop-menu {
        display: none;
    }
    .mobile-menu{
        display: block;
    }
    .float-right {
        float: none !important;
    }
    .desktop-list {
        display: none;
      }
    .mobile-list {
        display: block;
    }
    .news .item-1-1 {
        padding: 15px;
        width: 100% !important;
        height: 70vw !important;
        padding: 10px;
        background-size: cover !important;
    }
    .header-padding{
        padding-left: none !important;
        padding-right: none !important;
    }
    .mobile-padding {
        padding: 0 !important;
    }
    .desktop-header {
        display: none;
    }
    .mobile-footer {
        display: block;
    }
    .desktop-footer {
        display: none;
    }
    .mobile-header {
        display: block;
    }
    .video-frame {
        height: 16rem !important;
        width: 100% !important;
    }
}

@media  (min-width: 300px) and (max-width: 400px){
    .gallery-item{
        width: 19rem!important;
        height: 19rem!important;
    }
    .input-width {
        width: 100%;
    }
    .input-width:focus {
      width: 100%!important;
      margin-left: 0%!important;
    }
    .input-img:focus {
      padding-left:35px!important;
    }
    .desktop-menu {
        display: none;
    }
    .mobile-menu{
        display: block;
    }
    .float-right {
        float: none !important;
    }
    .desktop-list {
        display: none;
    }
    .mobile-list {
        display: block;
    }
    .desktop-header {
        display: none;
    }
    .mobile-footer {
        display: block;
    }
    .desktop-footer {
        display: none;
    }
    .mobile-header {
        display: block;
    }
    .pic-size {
        height: 6.5rem !important;
        width: 6.5rem !important;
    }
    .pic-blok {
        margin-top: -0rem !important;
    }
    .big-grey {
        clip-path: polygon(0 0, 100% 3%, 100% 100%, 0 100%) !important;
    }
    .little-grey {
        clip-path: polygon(0 19%,100% 0,100% 100%,0 100%)!important;
    } 
    .big-tria {
        margin-top: -0.4rem;
    }
    .total-blue {
    }
    .dark-blue {
        clip-path: polygon(0 7%,100% 4%,100% 98%,0 96%)!important;
    }
    .light-blue {
        clip-path: polygon(0 7%,100% 0,100% 100%,0 96%)!important;
    }
    .news .item-1-1 {
      padding: 15px;
      width: 100% !important;
      height: 70vw !important;
      padding: 10px;
      background-size: cover !important;
    }
    .header-padding{
      padding-left: none !important;
      padding-right: none !important;
    }
    .mobile-padding {
        padding: 0 !important;
    }
    .video-frame {
        height: 11rem !important;
        width: 100% !important;
    }
    .nko-card {
      background-color: hsl(214, 33%, 65%);
      color: #ffffff;
      max-height: 7.5rem;
      height: 7.5rem !important;
      cursor: pointer;
    }
}