.nav-custom, .show {
    background-color: rgba(0, 0, 0, 0.75);
  }

.nav-mobile {
    background-color: rgba(0, 0, 0, 0.75);
}

.dropdown-item:hover{
  background-color: rgba(107, 107, 107, 0.75)
}

.dropdown-item:active{
  background-color: rgba(156, 156, 156, 0.75)
}

.dropdown-item:focus{
  background-color: rgba(117, 117, 117, 0.75)
}

.dropdown-menu {
  margin: -0.05rem 0 0;
  border: none;
  position: absolute;
  will-change: transform;
  top: 0px;
  left: 0px;
  transform: translate3d(0px, 47px, 0px) !important;
}

.nav-scroller {
  height: 100%;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  align-content: center;
  justify-content: flex-end;
}

.nav-scroller .nav-link {
  font-size: 1rem;
  padding: 0px 10px;
  font-family: 'PT Sans Narrow', sans-serif;
  text-transform: uppercase;
}

.nav-width {
  width: 100%
}

.dropdown-toggle::after {
  display:none;
}

.nav-link {
  color: #ffffff;
}

.nav-link:hover {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.83) !important;
}

.nav-link:active {
  color: #ffffff;
  background-color: rgb(0, 0, 0) !important;
}

.show>.nav-link {
  color: #ffffff;
  background-color: rgb(0, 0, 0) !important;
}