.pic-blok {
//   background-image: url('./../img/panorama.jpg');
  height: 100%;
  width: 100%;
  position: relative;
  // margin-top: -4rem;
  z-index: -1;
}

.img-1 {
  background: url(../img/jumptron-image.jpg) no-repeat center center;
  /* background: url(../img/jumptron-image.jpg) no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.news-images {
  overflow: hidden;
}
.news-images .item {
  float: left;
  margin: 4px;
  box-sizing: content-box;
  overflow: hidden;
  position: relative;
  // width: auto;
  // height: 100%;
}
.news {
  display: block;
  width: 100%;
  margin: 0px -10px;
}

.news .item-1-1 {
  padding: 15px;
  width: 50%;
  height: 20vw;
  padding: 10px;
  background-size: cover;
}

.news .item-1-1 .img {
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 10px;
  padding-right: 10px;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.news .item-1-1 .img .text-place {
  background-color: white;
  padding: 10px;
  height: 100px;
}

.news .item-1-1 .img .text-place .text-shaded {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.news .item-1-1 .img .text-shaded::before {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background: linear-gradient(transparent 70px, white);
}

.item{
  filter: none;
}

.item:hover,.pic-text-display {
  filter: brightness(0.95) grayscale(0.5);;
}

.video-play {
  width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-left: 100px solid rgba(196, 196, 196, 0.85);
  border-bottom: 50px solid transparent;
  // z-index: 10;
  transform: translate(100%, 200%);
}

.card-padding {
  padding-top: 16rem;
}