<template>
  <div class="container font-weight-light">
    <h1>Новости</h1>
    <div class="d-flex flex-wrap news justify-content-center px-0">
      <div v-for="item in items" :key="item.id" class="item-1-1">
        <router-link :to="{path:'/news/'+ item.id}" class="text-newscard">
        <div class="img" :style="`background-image:url(${hostimage}/${item.image});`">
          <div class="text-place">
            <div class="text-shaded">
              <h3>{{ item.name }}</h3>
              {{item.shortText }}
            </div>
          </div>
        </div>
        </router-link>
      </div>
    </div>
    <ShowButton :hasNoItems='hasNoItems' :onShowMore='handleShowMore'/>
  </div>
</template>

<script>
import config from './../../../config'
import ShowButton from './../button/ShowButton'
export default {
  props: {
    items: {
      type: Array,
      default: []
    },
    onShowMore: {
      type: Function,
      default: null
    },
    hasNoItems: {
      type: Boolean,
      default: false
    }
  },

  components: {
    ShowButton
  },

  data () {
    return {
      host: config.host,
      hostimage: config.hostimage
    }
  },

  methods: {
    handleShowMore (evt) {
      if (this.onShowMore !== null) {
        this.onShowMore()
      }
    }
  }
}
</script>