@import '~vuetify/dist/vuetify.min.css';

a {
    text-decoration: none !important;
}

.sticky {
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 100;
}

.activeImg {
   border: 4px solid #2549eb;
}

.ql-formats {
   button {
      cursor: pointer;
   }
 }

 .fixed {
   position: fixed;
   top: 0px;
   width: 1000px;
   z-index: 101;
   background-color: white;
 }
