<template>
  <!-- <div class="container app"> -->
  <!-- <div class="col-12 main"> -->
  <div class="col-12 m-0 p-0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <site-header />
    <site-menu />
    <nuxt />
    <site-footer />
  </div>
  <!-- </div> -->
  <!-- <editor /> -->
</template>

<script>
import SiteHeader from '~/components/Header.vue'
import SiteFooter from '~/components/Footer.vue'
import SiteMenu from '~/components/Menu.vue'

export default {
  components: {
    SiteHeader,
    SiteFooter,
    SiteMenu
  }
}
</script>
