<template>
  <v-container fluid grid-list-md>
    <v-layout row wrap>
      <v-flex xs12>
        <v-card>
          <v-card-title>
            Контенты
            <v-spacer></v-spacer>
            <v-text-field
              v-model="search"
              append-icon="search"
              label="Поиск"
              single-line
              hide-details
            ></v-text-field>
          </v-card-title>
          <v-data-table
            :headers="headers"
            :items="contents"
            class="elevation-1"
            hide-actions
            :search="search"
          >
            <template v-slot:items="props">
              <td class="text-xs">{{ props.item.name }}</td>
              <td class="text-xs">{{ props.item.slug }}</td>
              <td class="text-xs">{{ props.item.type === 'textcontent' ? 'Текст' : (props.item.type === 'mediacontent' ? 'Медиа' : 'Документы')}}</td>
              <td class="text-xs">{{ props.item.description }}</td>
              <td class="text-xs justify-center align-center">
                  <router-link :to="'contents/edit/' + props.item.id">
                    <v-icon
                      class="mr-2">
                        edit
                    </v-icon>
                  </router-link>
                  <v-icon
                  @click="deleteItem(props.item.id)"
                  >
                    delete
                  </v-icon>
              </td>
            </template>
          </v-data-table>
        </v-card>
        <Pagination api="Content"/>
      </v-flex>
      <v-flex xs12 text-xs-center>
        <router-link to="/contents/new">
          <v-btn color="primary">
            Новая запись
          </v-btn>
        </router-link>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { mapGetters } from 'vuex';
import config from './../../config'
import Pagination from './../pagination'
export default {
  
  components: {
    Pagination
  },

  data () {
    return {
      search: '',
      headers: [
        { text: 'Название', value: 'name' },
        { text: 'Slug', value: 'slug' },
        { text: 'Тип', value: 'type' },
        { text: 'Описание', value: 'description' },
        { text: 'Действия', width: 110, value: 'actions', sortable: false }
      ],
    }
  },

  computed: {
    ...mapGetters([
      'contents'
    ])
  },

  methods: {
    deleteItem (id) {
        confirm('Вы точно хотите удалить это?') && this.$store.dispatch('deleteContent', {
          id: id
        });
    },
  }
}
</script>