<template>
  <v-form ref="form" lazy-validation v-model="valid">
    <v-container fluid grid-list-md>
      <v-layout row wrap>
        <v-dialog v-model="dialog" width="1000">
          <template v-slot:activator="{ on }">
            <v-flex xs12 text-xs-center v-if="var_image">
              <v-layout align-center justify-center>
                <v-card max-height="600px" max-width="600px">
                  <v-card-title>Выбранное фото</v-card-title>
                  <v-img :src="`${var_image}?dim=250x250`"></v-img>
                  <v-btn color="red lighten-2" @click="getFiles" dark v-on="on">Сменить обложку</v-btn>
                </v-card>
              </v-layout>
            </v-flex>
            <v-flex xs12 text-xs-center v-else>
              <v-btn color="red lighten-2" @click="getFiles" dark v-on="on">Выбрать обложку</v-btn>
            </v-flex>
          </template>
          <v-card>
            <div class="sticky">
              <v-card-title>
                <v-btn color="red lighten-2" @click="pickFile" dark>Загрузить новое фото</v-btn>
                  <input
                    type="file"
                    style="display: none"
                    ref="file"
                    accept="image/*"
                    @change="onFilePicked"
                >
                <v-spacer></v-spacer>
                <v-btn color="primary" flat @click="dialog = false">Выбрать</v-btn>
              </v-card-title>
              <v-divider></v-divider>
            </div>
            <vue-select-image
              v-if="arrFiles.length > 0"
              :dataImages="arrFiles"
              :h="'200px'"
              :v="'200px'"
              @onselectimage="onSelectImage"
            ></vue-select-image>
            <v-flex v-else text-xs-center class="display-2">Фото нет :(</v-flex>
            <v-divider></v-divider>
          </v-card>
        </v-dialog>
        <v-flex xs12>
          <v-text-field v-model="var_name" :rules="nameRules" required label="Название"></v-text-field>
        </v-flex>
        <v-flex xs12>
          <v-text-field v-model="var_slug" :rules="slugRules" required label="Slug"></v-text-field>
        </v-flex>
        <v-flex xs12>
          <v-text-field
            v-model="var_description"
            :rules="descriptionRules"
            required
            label="Описание"
          ></v-text-field>
        </v-flex>
        <v-flex xs12>
          <v-select
            v-model="var_type"
            item-text="name"
            item-value="value"
            :items="var_types"
            label="Тип контента"
          ></v-select>
        </v-flex>
        <v-flex xs12>
          <v-select
            v-model="var_parentId"
            :items="allParents"
            :append-icon="'mdi-plus'"
            label="Родитель"
            item-text='name'
            item-value='id'
          ></v-select>
        </v-flex>
        <v-card class="my-2" width="100%" raised v-for="(meta,index) in metaLocal" :key="index">
          <v-flex xs12 class="pa-2">
            <div v-if="meta.edit">
              <v-text-field v-if="meta.edit" v-model="meta.name" label="Название поля"></v-text-field>
            </div>
            <div v-else>
              <v-text-field disabled v-model="meta.name" label="Название поля"></v-text-field>
            </div>
            <v-btn v-if="meta.edit" @click="meta.edit = false"> Сохранить</v-btn>
            <div v-else>
              <v-btn v-if="!meta.edit" @click="meta.edit = true"> Редактировать</v-btn>
              <v-btn v-if="!meta.edit" @click="metaLocal.splice(index, 1)"> Удалить</v-btn>
            </div> 
          </v-flex>
        </v-card>
        <v-flex xs12>
          <v-btn @click="addMeta('','')" tile outlined color="success">
            <v-icon left>create</v-icon> Добавить новое поле
          </v-btn>
        </v-flex>
        <v-flex xs12 text-xs-center>
          <v-btn :disabled="!valid" color="success" @click="save">Сохранить</v-btn>
          <v-btn :disabled="!valid" color="success" @click="newPage">Добавить новый</v-btn>
          <v-btn color="success" @click="back">Назад</v-btn>
        </v-flex>
        <v-flex xs12 text-xs-center>
          <v-alert
            :value="alert"
            type="success"
            transition="scale-transition"
          >
            <div v-if="put">Запись успешна сохранена</div>
            <div v-else>Запись успешна создана</div>
          </v-alert>
        </v-flex>
      </v-layout>
    </v-container>
  </v-form>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  props: {
    params: {
      type: Object,
      default: null
    }
  },

  data() {
    return {
      alert: false,
      put: false,
      valid: true,
      dialog: false,
      nameRules: [v => !!v || "Название необходимо"],
      slugRules: [v => !!v || "Slug необходим"],
      descriptionRules: [v => !!v || "Описание необходимо"],
      var_id: null,
      var_name: "",
      var_slug: "",
      var_description: "",
      var_type: "textcontents",
      var_types: [
        { value: "textcontent", name: "Текст" },
        { value: "mediacontent", name: "Медиа" },
        { value: "document", name: "Документ"}
      ],
      var_image: "",
      var_parentId: null,
      arrFiles: [],
      allParents: [
        { id: null, name: "Нет" }
      ],
      metaLocal: [],
      metaDataLocal: []
    };
  },

  computed: {
    ...mapGetters(["contents", "content", "files", "textContents"])
  },

  created() {
    this.loadPage();
  },

  methods: {
    loadPage() {
      this.$store.dispatch("getListTextContent").then(() => {
        var i;
        for (i = 0; i < this.textContents.length; ++i) {
          if (this.textContents[i].name) {
            this.allParents.push(this.textContents[i])
          }
        }
      })
      this.$store.dispatch("getListContent").then(() => {
        var i;
        for (i = 0; i < this.contents.length; ++i) {
          this.allParents.push(this.contents[i])
        }
      })
      if (this.params.command === "edit" && this.params.id) {
        this.$store
          .dispatch("getContent", {
            id: this.params.id
          })
          .then(() => {
            this.var_id = this.content.id;
            this.var_name = this.content.name;
            this.var_description = this.content.description;
            this.var_slug = this.content.slug;
            this.var_type = this.content.type;
            this.var_image = this.content.image;
            this.var_parentId = this.content.parentId;
            this.metaLocal = this.content.metaData
          });
      }
    },

    getFiles() {
      this.$store
        .dispatch("getFileList", {
          name: "files"
        })
        .then(() => {
          console.log(this.files);
          this.arrFiles = this.files.slice();
          this.arrFiles.forEach(function(entry) {
            entry.src = `/images/files/${entry.name}?dim=250x250`;
            entry.alt = entry.name;
            entry.id = Math.floor(Math.random() * (1e8 - 1)) + 1;
          });
        });
    },

    pickFile() {
      this.$refs.file.click();
    },

    onFilePicked(e) {
      const files = e.target.files;
      if (files[0] !== undefined) {
        console.log("this.fileName", this.fileName);

        if (this.fileName && this.fileName.lastIndexOf(".") <= 0) {
          return;
        }
        const fr = new FileReader();
        fr.readAsDataURL(files[0]);
        let formData = new FormData();
        formData.append("file", files[0]);
        this.$store
          .dispatch("uploadFile", {
            filedata: formData,
            name: "files"
          })
          .then(data => {
            if (
              data.result &&
              data.result.files &&
              data.result.files.file &&
              data.result.files.file.length > 0
            ) {
              this.var_image =
                `/images/${data.result.files.file[0].container}/${data.result.files.file[0].name}`;;
            }
            this.getFiles();
          });
      }
    },

    onSelectImage: function(data) {
      this.var_image = data.src.replace('?dim=250x250','');
    },

    createPage() {
      return this.$store
        .dispatch("createContent", {
          name: this.var_name,
          slug: this.var_slug,
          type: this.var_type,
          description: this.var_description,
          image: this.var_image,
          parentId: this.var_parentId,
          metaData: this.metaDataLocal
        })
        .then(() => {
          this.var_id = this.content.id;
          this.alert = true;
          setTimeout(() => this.alert = false, 2000);
          this.$store.dispatch("getListContent")
        });
    },

    putPage() {
      return this.$store.dispatch("editContent", {
        id: this.var_id,
        name: this.var_name,
        slug: this.var_slug,
        type: this.var_type,
        description: this.var_description,
        image: this.var_image,
        parentId: this.var_parentId,
        metaData: this.metaDataLocal
      }).then(() => {
        this.alert = true;
        setTimeout(() => this.alert = false, 2000);
        this.$store.dispatch("getListContent")
      });
    },

    save() {
      if (this.$refs.form.validate()) {
        if (this.metaLocal) {
        var i;
          for (i = 0;  i< this.metaLocal.length; ++i) {
              if (!this.metaLocal[i].edit) {
                this.metaDataLocal.push(this.metaLocal[i])
              }
          }
        }
        if (!this.var_id) {
          return this.createPage();
        } else {
          return this.putPage();
        }
      }
      return Promise.reject()
    },

    newPage() {
      this.save().then(() => {
        this.$refs.form.reset();
        this.var_id = null;
        this.var_type = "textcontents";
        this.var_image = "";
        this.metaLocal = [];
        this.metaDataLocal = [];
        this.arrFiles = [];
        this.imageSelected = [];
      });
    },

    addMeta (name,content) {
      this.metaLocal.push({ name: name, content: content, edit: true })
    },

    back() {
      this.$router.push({ name: "contentlist" });
    }
  }
};
</script>