<template>
  <v-form ref="form" lazy-validation v-model="valid">
    <v-container fluid grid-list-md>
      <v-layout row wrap>
        <v-flex xs12>
          <v-text-field v-model="nameLocal" :rules="nameRules" required label="Название"></v-text-field>
        </v-flex>
        <v-flex xs12>
          <v-text-field v-model="descriptionLocal" :rules="descriptionRules" required label="Описание"></v-text-field>
        </v-flex>
        <div v-if="!urlLocal && !fileLocal">
          <div>
            <v-flex xs12 text-xs-center>
              <v-btn color="cyan" dark @click="pickFile">
                <v-icon left>attach_file</v-icon>
                Выберете документ</v-btn>
              <input
                type="file"
                style="display: none"
                ref="file"
                @change="onFilePicked"
              >
            </v-flex>
          </div>
          <div class="title font-weight-black" >
            Или вставьте ссылку:
            <v-flex xs12>
              <v-text-field v-model="preUrl" required label="Ссылка"></v-text-field>
            </v-flex>
          </div>
        </div>
        <div class="title font-weight-black" v-else>
          Файл загружен.
          <p v-if="fileName">Название файла: {{ fileName }}</p>
          <v-btn v-if="fileLocal" small color="success" target="_blank" :href="storage + '/documents/download/' + fileLocal" >Просмотр</v-btn>
          <v-btn v-else small color="success" target="_blank" :href="urlLocal" >Просмотр</v-btn>
          <v-btn small color="error" @click="delFile">Удалить</v-btn>
        </div>
        <v-flex xs12 text-xs-center>
          <v-btn :disabled="!valid" color="success" @click="save">Сохранить</v-btn>
          <v-btn :disabled="!valid" color="success" @click="newDoc">Добавить новый</v-btn>
          <router-link :to="`/contents/entry/${params.contentSlug}/list`">
            <v-btn color="error">Назад</v-btn>
          </router-link>
        </v-flex>
        <v-flex xs12 text-xs-center>
          <v-alert :value="alert" type="success" transition="scale-transition">
            <div v-if="idLocal">Запись успешна сохранена</div>
            <div v-else>Запись успешна создана</div>
          </v-alert>
        </v-flex>
      </v-layout>
    </v-container>
  </v-form>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import config from "./../../config";
export default {
  props: {
    params: {
      type: Object,
      default: null
    }
  },

  data() {
    return {
      fileArr: [],
      preUrl: '',
      fileName: this.origName,
      storage: config.storage,
      alert: false,
      valid: true,
      nameRules: [v => !!v || "Название необходимо"],
      descriptionRules: [v => !!v || "Описание необходимо"],
      nameLocal: this.name,
      typeLocal: this.type,
      descriptionLocal: this.description,
      urlLocal: this.url,
      fileLocal: this.file,
      idLocal: this.id,
      putLocal: this.put,
      contentIdLocal: this.contentId
    };
  },

  computed: {
    ...mapGetters(["documents", "document"])
  },

  created() {
    this.initContents()
  },

  methods: {
    initContents() {
      if (this.params && this.params.id) {
        this.$store
          .dispatch("getDocument", {
            id: this.params.id
          })
          .then(() => {
            this.nameLocal = this.document.name,
            this.typeLocal = this.document.type,
            this.descriptionLocal = this.document.description,
            this.urlLocal = this.document.url,
            this.fileLocal = this.document.file,
            this.idLocal = this.document.id,
            this.contentIdLocal = this.document.contentId,
            this.fileName = this.document.origName
          });
      }
    },

    createDoc() {
      this.$store.dispatch("createDocument", {
        name: this.nameLocal,
        type: this.typeLocal,
        description: this.descriptionLocal,
        url: this.urlLocal,
        file: this.fileLocal,
        contentId: this.contentIdLocal,
        origName: this.fileName
      }).then(() => {
        this.idLocal = this.document.id;
        this.alert = true;
        setTimeout(() => (this.alert = false), 2000);
      });
    },

    putDoc() {
      this.$store.dispatch("editDocument", {
        id: this.idLocal,
        name: this.nameLocal,
        type: this.typeLocal,
        description: this.descriptionLocal,
        url: this.urlLocal,
        file: this.fileLocal,
        contentId: this.contentIdLocal,
        origName: this.fileName
      }).then(() => {
        this.alert = true;
        setTimeout(() => (this.alert = false), 2000);
      });
    },

    save() {
      if (this.$refs.form.validate()) {
        this.urlLocal = this.preUrl
        if ( !this.idLocal ) {
          this.createDoc();
        }
        else {
          this.putDoc();
        }
      };
    },

    newDoc() {
      if (this.$refs.form.validate()) {
        this.idLocal ? this.putDoc() : this.createDoc();
        this.$refs.form.reset();
        this.putLocal = false;
        this.idLocal = null;
        this.urlLocal = null;
        this.fileLocal = null;
        this.fileName = null;
      }
    },

    pickFile() {
      this.$refs.file.click();
    },

    onFilePicked(e) {
      var files = Array.from(e.target.files);
      var promises = (files || []).map(file => {
        return new Promise((resolve, rejected) => {
            const fr = new FileReader();
            fr.readAsDataURL(file);
            fr.addEventListener("load", (event) => {
              file.src = event.currentTarget.result;
              file.fileType = file.type.split("/")[0];
              resolve(file);
            });
            fr.addEventListener("error", (error) => {
              // нужно посмотреть правильную обработку ошибок
              rejected(file);
            })
          });
        }
      )

      Promise.all(promises).then((result) => {
        this.fileName = result[0].name
        this.fileArr = result
        this.uploadFile()
      })
    },

    uploadFile() {
      var i;
      for (i = 0; i < this.fileArr.length; ++i) {
        if (this.fileArr[i] !== undefined) {
          let formData = new FormData();
          formData.append("file", this.fileArr[i]);
          this.$store.dispatch("uploadFile", {
            filedata: formData,
            name: 'documents'
          }).then((result) => {
            this.fileLocal = result.result.files.file[0].name
          });
        }
      }
      this.fileArr = [];
    },

    delFile() {
      if (confirm('Вы уверены что хотите удалить данный файл?')) {
         this.fileLocal = null,
         this.urlLocal = null,
         this.fileName = null
       }
    }
  }
};
</script>