<template>
  <v-container fluid grid-list-md>
    <v-layout row wrap>
      <v-flex xs12>
        <v-card>
          <v-card-title>
            Документы
            <v-spacer></v-spacer>
            <v-text-field
              v-model="search"
              append-icon="search"
              label="Поиск"
              single-line
              hide-details
            ></v-text-field>
          </v-card-title>
          <v-data-table
            :headers="headers"
            :items="documents"
            class="elevation-1"
            :search="search"
            hide-actions
          >
            <template v-slot:items="props">
              <td class="text-xs">{{ props.item.name }}</td>
              <td class="text-xs">{{ props.item.description }}</td>
              <td class="text-xs">{{ props.item.file || props.item.url ? 'Есть' : 'Нет' }}</td>
              <td class="text-xs justify-center align-center">
                <router-link :to="`/contents/entry/${params.contentSlug}/edit/${props.item.id}`">
                  <v-icon class="mr-2">edit</v-icon>
                </router-link>
                  <v-icon
                  @click="deleteItem(props.item.id)"
                  >
                    delete
                  </v-icon>
              </td>
            </template>
          </v-data-table>
        </v-card>
        <Pagination api="Document"/>
      </v-flex>
      <v-flex xs12 text-xs-center>
        <router-link :to="`/contents/entry/${params.contentSlug}/edit`">
          <v-btn color="primary">Новая запись</v-btn>
        </router-link>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import {mapGetters} from 'vuex';
import Pagination from './../pagination'
export default {
  
  components: {
    Pagination
  },

  props: {
    params:{
      type: Object,
      default: null
    }
  },
  
  data () {
    return {
      search: '',
      headers: [
        { text: 'Название', value: 'name' },
        { text: 'Описание', value: 'description' },
        { text: 'Файл или ссылка', value: 'file' },
        { text: 'Действия', width: 110, value: 'actions', sortable: false }
      ],
    }
  },

  computed: {
    ...mapGetters([
      'documents',
    ])
  },

  methods: {
    deleteItem (id) {
        confirm('Вы точно хотите удалить это?') && this.$store.dispatch('deleteDocument', {
          id: id
        });
    }
  }
}
</script>