<template>
  <v-container fluid grid-list-md>
    <v-layout row wrap>
      <v-flex xs12>
        <v-card>
          <v-card-title>
            <div v-if="mediaContents[0] && mediaContents[0].content && mediaContents[0].content.name" class="title font-weight-black">
            {{ mediaContents[0].content.name }}
            </div>
            <v-spacer></v-spacer>
            <v-text-field
              v-model="search"
              append-icon="search"
              label="Поиск"
              single-line
              hide-details
            ></v-text-field>
          </v-card-title>
          <v-data-table
            :headers="headers"
            :items="mediaContents"
            class="elevation-1"
            :search="search"
            hide-actions
          >
            <template v-slot:items="props">
              <td class="text-xs">{{ props.item.title }}</td>
              <td class="text-xs">{{ props.item.description }}</td>
              <td class="text-xs">{{ props.item.content ? props.item.content.name : 'нет' }}</td>
              <td class="text-xs">{{ props.item.user ? props.item.user.username : 'нет' }}</td>
              <td class="text-xs justify-center align-center">
                <router-link :to="`/contents/entry/${params.contentSlug}/edit/${props.item.id}`">
                  <v-icon class="mr-2">edit</v-icon>
                </router-link>
                <v-icon @click="deleteItem(props.item.id)" class="mr-2">delete</v-icon>
              </td>
            </template>
          </v-data-table>
        </v-card>
        <Pagination :id="params.contentId" api="MediaContent"/>
      </v-flex>
      <v-flex xs12 text-xs-center>
        <router-link :to="`/contents/entry/${params.contentSlug}/edit`">
          <v-btn color="primary">Новая запись</v-btn>
        </router-link>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { mapGetters } from "vuex";
import Pagination from './../pagination'
export default {
  components: {
    Pagination
  },
  props: {
    params:{
      type: Object,
      default: null
    }
  },

  data() {
    return {
      search: "",
      headers: [
        { text: "Заголовок", value: "title" },
        { text: "Описание", value: "description" },
        { text: "Родитель", value: "content" },
        { text: "Кто создал", value: "user" },
        { text: "Действия", width: 110, value: "actions", sortable: false }
      ],
      ofPageLocal: this.ofPage
    };
  },

  computed: {
    ...mapGetters(["users", "mediaContents"])
  },


  methods: {
    deleteItem(id) {
      confirm("Вы точно хотите удалить это?") &&
        this.$store.dispatch("deleteMediaContent", {
          id: id
        });
    },

    uploadItem(item) {
      this.$router.push({
        name: "uploadFile",
        params: {
          name: item
        }
      });
    },
  }
};
</script>