<template>
  <v-form ref="form" lazy-validation v-model="valid">
    <v-container fluid grid-list-md>
      <v-layout row wrap>
        <div v-if="mediaContent && mediaContent.content && mediaContent.content.name" class="title font-weight-black">
          Редактируется раздел: {{ mediaContent.content.name }}
        </div>
        <v-flex xs12>
          <v-text-field v-model="titleLocal" :rules="titleRules" required label="Заголовок"></v-text-field>
        </v-flex>
        <v-flex xs12>
          <v-text-field v-model="descriptionLocal" :rules="descriptionRules" required label="Описание"></v-text-field>
        </v-flex>
        <v-flex xs12>
         <v-select
          v-model="contentIdLocal"
          item-text = "name"
          item-value = "id"
          :items="contents"
          label="Страница"
        ></v-select>
        </v-flex>
        <v-flex xs12>
         <v-select
          v-model="userIdLocal"
          item-text = "username"
          item-value = "id"
          :items="users"
          label="Пользователь"
        ></v-select>
        </v-flex>
        <v-flex xs12 class="text-xs-center text-sm-center text-md-center text-lg-center">
          <v-flex xs12 v-if="(fileArr && fileArr.length > 0 && params.id) || (photos && photos.length > 0)">
            <v-card>
              <v-container fluid grid-list-md>
                <v-layout row wrap>
                  <v-flex v-for="file in fileArr" :key="file.name">
                    <v-card width="300px" height="300px">
                      <v-img :src="`/images/${params.id }/${file.name}?dim=250x250`" max-height="250px"></v-img>
                      <v-card-actions>
                        <span class="black--text" v-text="file.name"></span>
                        <v-spacer></v-spacer>
                        <v-btn icon @click="deleteItem(file.name)">
                          <v-icon>delete</v-icon>
                        </v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-flex>
                  <v-flex v-for="file in photos" :key="file.name">
                    <v-card width="300px" height="300px">
                      <v-img :src="file.src" max-height="250px"></v-img>
                      <v-card-actions>
                        <span class="black--text" v-text="file.name"></span>
                        <v-spacer></v-spacer>
                        <v-btn icon @click="deleteItem(file.name)">
                          <v-icon>delete</v-icon>
                        </v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card>
          </v-flex>
          <v-btn color="red lighten-2" @click="pickFile" dark>Загрузить фотографии</v-btn>
          <input
            type="file"
            style="display: none"
            ref="file"
            multiple="true"
            accept="image/*"
            min="1"
            max="100"
            @change="onFilePicked"
          >
        </v-flex>
         <v-flex xs12 text-xs-center>
          <v-btn :disabled="!valid" color="success" @click="save">Сохранить</v-btn>
          <v-btn :disabled="!valid" color="success" @click="newContent">Добавить новый</v-btn>
          <router-link :to="`/contents/entry/${params.contentSlug}/list`">
            <v-btn color="success">Назад</v-btn>
          </router-link>
        </v-flex>
        <v-flex xs12 text-xs-center>
          <v-alert
            :value="alert"
            type="success"
            transition="scale-transition"
          >
            <div v-if="put">Запись успешна сохранена</div>
            <div v-else>Запись успешна создана</div>
          </v-alert>
        </v-flex>
      </v-layout>
    </v-container>
  </v-form>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import files from "../files/files";
import config from "./../../config";

export default {
  components:{
    files,
  },

  props: {
    params:{
      type: Object,
      default: null
    },
  },

  data() {
    return {
      alert: false,
      put: false,
      valid: true,
      titleRules: [v => !!v || "Заголовок необходимо"],
      descriptionRules: [v => !!v || "Описание необходимо"],
      titleLocal: '',
      descriptionLocal: '',
      contentIdLocal: null,
      userIdLocal: null,
      idLocal: null,
      fileArr: [],
      photos: [],
      storage: config.storage,
    };
  },

  computed: {
    ...mapGetters(["mediaContent", "contents", "users", "current", "files"])
  },

  created() {
    this.initContents();
  },

  methods: {
    initContents() {
      if(this.params && this.params.id){
        this.$store.dispatch('getMediaContent', {
          id: this.params.id
        }).then(() => {
          this.titleLocal = this.mediaContent.title;
          this.descriptionLocal = this.mediaContent.description;
          this.idLocal = this.mediaContent.id;
        }).then(() => {
          this.updateFileList();
        });
      }

      this.$store.dispatch("getListContent").then(() => {
      this.contentIdLocal =
        this.params && this.params.contentId ? this.params.contentId : null;
      });

      this.$store.dispatch("getListUser").then(() => {
      this.userIdLocal =
        this.current && this.current.userId ? this.current.userId : null;
      });


    },

    createContent() {
      return this.$store.dispatch("createMediaContent", {
        title: this.titleLocal,
        description: this.descriptionLocal,
        contentId: this.contentIdLocal,
        userId: this.userIdLocal
      }).then(() => {
        this.idLocal = this.mediaContent.id;
        this.uploadFile(this.photos);
        this.alert = true;
        setTimeout(() => this.alert = false, 2000);
      });
    },

    putContent() {
      return this.$store.dispatch("editMediaContent", {
        id: this.idLocal,
        title: this.titleLocal,
        description: this.descriptionLocal,
        contentId: this.contentIdLocal,
        userId: this.userIdLocal
      }).then(() => {
        this.uploadFile(this.photos);
        this.alert = true;
        setTimeout(() => this.alert = false, 2000);
      });
    },

    save() {
      if (this.$refs.form.validate()) {
        if ( !this.idLocal ) {
          return this.createContent();
        }
        else {
          return this.putContent();;
        }
      };

      return Promise.reject()
    },

    newContent() {
      this.save().then(() => {
        this.$refs.form.reset();
        this.putLocal = false;
        this.idLocal = null;
        this.fileArr = [];
        this.photos = [];
        this.backToTop()
      })
    },

    backToTop () {
      if (window.pageYOffset > 0) {
        window.scrollBy(0, -35)
        setTimeout(this.backToTop, 5)
      }
    },

    pickFile() {
      this.$refs.file.click();
    },

    updateFileList() {
        this.$store.dispatch('getFileList', {
          name: this.params.id
        }).then(() => {
          this.fileArr = this.files;
        });
    },

    onFilePicked(e) {
      var files = Array.from(e.target.files);
      var promises = (files || []).map(file => {
        return new Promise((resolve, rejected) => {
            const fr = new FileReader();
            fr.readAsDataURL(file);
            fr.addEventListener("load", (event) => {
              file.src = event.currentTarget.result;
              file.fileType = file.type.split("/")[0];
              resolve(file);
            });
            fr.addEventListener("error", (error) => {
              // нужно посмотреть правильную обработку ошибок
              rejected(file);
            })
          });
        }
      )

      Promise.all(promises).then((result) => {
        var ii;
        for (ii = 0; ii < result.length; ++ii) {
          this.photos.push(result[ii])
        }
      })
    },

    uploadFile(files) {
      var i;
      for (i = 0; i < files.length; ++i) {
        if (files[i] !== undefined) {
          let formData = new FormData();
          formData.append("file", files[i]);
          this.$store.dispatch("uploadFile", {
            filedata: formData,
            name: this.idLocal
          });
        }
      }
    },

    deleteItem(fileName) {
      if (confirm("Вы точно хотите удалить это?")) {
        if (this.photos.findIndex(item => item.name === fileName) != -1) {
          this.photos.splice(this.photos.findIndex(item => item.fileName === fileName), 1)
        }
        else {
          this.$store.dispatch("deleteFile", {
            file: fileName,
            name: this.idLocal
          }).then(()=>{
            this.updateFileList();
          });
        }
      }
    },
  }
};
</script>