<template>
  <v-form ref="form" lazy-validation v-model="valid" :key="idLocal">
    <v-container fluid grid-list-md>
      <v-layout row wrap>
        <div
          v-if="textContent && textContent.content && textContent.content.name"
          class="title font-weight-black"
        >Редактируется раздел: {{ textContent.content.name }}</div>
        <v-dialog v-model="dialog" width="1000">
          <template v-slot:activator="{ on }">
            <v-flex xs12 text-xs-center v-if="imageLocal">
              <v-layout align-center justify-center>
                <v-card max-height="600px" max-width="600px">
                  <v-card-title>Обложка записи</v-card-title>
                  <v-img :src="`${imageHost}/${imageLocal}?dim=250x250`"></v-img>
                  <v-btn
                    color="red lighten-2"
                    @click.stop="openChangeCoverDialog"
                    dark
                    v-on="on"
                  >Сменить обложку</v-btn>
                </v-card>
              </v-layout>
            </v-flex>
            <v-flex xs12 text-xs-center v-else>
              <v-btn
                color="red lighten-2"
                @click.stop="openChangeCoverDialog"
                dark
                v-on="on"
              >Выбрать обложку</v-btn>
            </v-flex>
          </template>
          <v-card>
            <div class="sticky">
              <v-card-title>
                <v-btn
                  color="red lighten-2"
                  @click="pickFile"
                  v-if="arrFiles.length > 0"
                  dark
                >Загрузить изображение</v-btn>
                <input
                  type="file"
                  style="display: none"
                  ref="file"
                  accept="image/*"
                  @change="onFilePicked"
                  multiple
                >
                <v-spacer></v-spacer>
                <v-btn color="primary" flat @click="dialog = false">Закрыть</v-btn>
              </v-card-title>
              <v-divider></v-divider>
            </div>
            <v-progress-circular v-if="upload" :size="70" :width="7" color="purple" indeterminate></v-progress-circular>
            <selectImage
              v-if="arrFiles.length > 0"
              :dataImages="arrFiles"
              @onselectimage="onSelectImage"
              @ondeleteimage="onDeleteImage"
            ></selectImage>
            <v-flex v-if="isNotHaveImages">
              <v-card>
                <v-card-text>
                  <p class="text-md-center">Нет доступных изображений</p>
                  <p class="text-md-center">
                    <v-btn color="red lighten-2" @click="pickFile" dark>Загрузить изображение</v-btn>
                  </p>
                </v-card-text>
              </v-card>
            </v-flex>
            <v-divider></v-divider>
          </v-card>
        </v-dialog>
        <v-flex xs12>
          <v-text-field v-model="nameLocal" :rules="nameRules" required label="Название"></v-text-field>
        </v-flex>
        <v-flex xs12>
          <vue-editor id="editor" ref="editor" v-model="contentt" :editorOptions="customOptionsToolbar">
            <div id="my-toolbar" slot="toolbar">
              <span class="ql-formats">
                <select class="ql-header" defaultValue="0">
                  <option value="1">Heading</option>
                  <option value="2">Subheading</option>
                  <option value="0">Normal</option>
                </select>
                <select class="ql-font">
                  <option></option>
                  <option value="serif"></option>
                  <option value="monospace"></option>
                </select>
              </span>
              <span class="ql-formats">
                <button class="ql-bold"></button>
                <button class="ql-italic"></button>
                <button class="ql-underline"></button>
              </span>
              <span class="ql-formats">
                <select class="ql-color"></select>
                <select class="ql-background"></select>
              </span>
              <span class="ql-formats">
                <button class="ql-list" value="ordered"></button>
                <button class="ql-list" value="bullet"></button>
                <select class="ql-align">
                  <option defaultValue></option>
                  <option value="center"></option>
                  <option value="right"></option>
                  <option value="justify"></option>
                </select>
              </span>
              <span class="ql-formats">
                <button class="ql-link"></button>
                <button @click="openTextImageDialog">
                  <svg viewBox="0 0 18 18">
                    <rect class="ql-stroke" height="10" width="12" x="3" y="4"></rect>
                    <circle class="ql-fill" cx="6" cy="7" r="1"></circle>
                    <polyline
                      class="ql-even ql-fill"
                      points="5 12 5 11 7 9 8 10 11 7 13 9 13 12 5 12"
                    ></polyline>
                  </svg>
                </button>
                <button class="ql-code-block"></button>
              </span>
              <span class="ql-formats">
                <button class="ql-clean"></button>
              </span>
            </div>
          </vue-editor>
        </v-flex>
        <v-flex xs12>
          <v-textarea
            v-model="shortTextLocal"
            :rules="shortTextRules"
            counter="150"
            maxlength="150"
            required
            label="Короткий текст"
          ></v-textarea>
        </v-flex>
        <v-flex xs12>
          <v-select
            v-model="contentIdLocal"
            item-text="name"
            item-value="id"
            :items="contents"
            label="Контент"
          ></v-select>
        </v-flex>
        <v-flex xs12>
          <v-select
            v-model="userIdLocal"
            item-text="username"
            item-value="id"
            :items="users"
            label="Пользователь"
          ></v-select>
        </v-flex>
        <v-flex xs12>
          <v-menu
            v-model="dateMenu1"
            :close-on-content-click="false"
            :nudge-right="40"
            lazy
            transition="scale-transition"
            offset-y
            full-width
            min-width="290px"
          >
            <template v-slot:activator="{ on }">
              <v-text-field
                v-model="dateCreatedLocal"
                label="Дата создания"
                prepend-icon="event"
                readonly
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker v-model="dateCreatedLocal" @input="dateMenu1 = false"></v-date-picker>
          </v-menu>
        </v-flex>
        <v-flex xs12>
          <v-menu
            v-model="dateMenu2"
            :close-on-content-click="false"
            :nudge-right="40"
            lazy
            transition="scale-transition"
            offset-y
            full-width
            min-width="290px"
          >
            <template v-slot:activator="{ on }">
              <v-text-field
                v-model="datePublishedLocal"
                label="Дата публикации"
                prepend-icon="event"
                readonly
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker v-model="datePublishedLocal" @input="dateMenu2 = false"></v-date-picker>
          </v-menu>
        </v-flex>
        <v-flex xs12>
          <v-text-field v-model="backgroundColorLocal" label="Цвет фона"></v-text-field>
        </v-flex>
        <v-flex xs12>
          <v-select
            v-model="var_parentId"
            :items="allParents"
            :append-icon="'mdi-plus'"
            label="Родитель"
            item-text='name'
            item-value='id'
          ></v-select>
        </v-flex>
        <v-flex xs12>
          <v-checkbox v-model="isPublishedLocal" color="success" label="Опубликовано"></v-checkbox>
        </v-flex>
        <v-card class="my-2" width="100%" raised v-for="(meta,index) in metaLocal" :key="index">
          <v-flex xs12 class="pa-2">
            <div v-if="meta.edit">
              <v-text-field v-if="meta.edit" v-model="meta.name" label="Название поля"></v-text-field>
              <v-text-field v-if="meta.edit" v-model="meta.content" label="Значение"></v-text-field>
            </div>
            <div v-else>
              <v-text-field disabled v-model="meta.name" label="Название поля"></v-text-field>
              <v-text-field disabled v-model="meta.content" label="Значение"></v-text-field>
            </div>
            <v-btn v-if="meta.edit" @click="meta.edit = false"> Сохранить</v-btn>
            <div v-else>
              <v-btn v-if="!meta.edit" @click="meta.edit = true"> Редактировать</v-btn>
              <v-btn v-if="!meta.edit" @click="metaLocal.splice(index, 1)"> Удалить</v-btn>
            </div> 
          </v-flex>
        </v-card>
        <v-flex xs12>
          <v-btn @click="addMeta('','')" tile outlined color="success">
            <v-icon left>create</v-icon> Добавить новое поле
          </v-btn>
        </v-flex>
        <v-flex xs12>
          <v-combobox
            v-model="tagsLocal"
            :filter="filter"
            :hide-no-data="!search"
            :items="tags"
            :search-input.sync="search"
            hide-selected
            label="Добавьте теги"
            multiple
            small-chips
            solo
          >
            <template v-slot:no-data>
                <span class="subheading"> Создать новый тег:  </span>
                <v-chip
                  :color="`${colors[nonce - 1]} lighten-3`"
                  label
                  small
                >
                  {{ search }}
                </v-chip>
            </template>
            <template v-slot:selection="{ attrs, item, parent, selected }">
              <v-chip
                v-if="item === Object(item)"
                v-bind="attrs"
                :color="`${item.color} lighten-3`"
                :input-value="selected"
                label
                small
              >
                <span class="pr-2">
                  {{ item.text }}
                </span>
                <v-icon
                  small
                  @click="parent.selectItem(item)"
                >close</v-icon>
              </v-chip>
            </template>
            <template v-slot:item="{ index, item }">
              <v-chip
                :color="`${item.color} lighten-3`"
                dark
                label
                small
              >
                {{ item.text }}
              </v-chip>
            </template>
          </v-combobox>
        </v-flex>
        <v-flex xs12 text-xs-center>
          <v-btn :disabled="!valid" color="success" @click="save">Сохранить</v-btn>
          <v-btn :disabled="!valid" color="success" @click="newContent">Добавить новый</v-btn>
          <router-link :to="`/contents/entry/${params.contentSlug}/list`">
            <v-btn color="success">Назад</v-btn>
          </router-link>
        </v-flex>
        <v-flex xs12 text-xs-center>
          <v-alert :value="alert" type="success" transition="scale-transition">
            <div v-if="put">Запись успешна сохранена</div>
            <div v-else>Запись успешна создана</div>
          </v-alert>
        </v-flex>
      </v-layout>
    </v-container>
  </v-form>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import config from "./../../config";
import ColorThief from "color-thief";
import { VueEditor, Quill } from "vue2-editor";
import selectImage from "./../selectImage";
import ImageResize from "quill-image-resize-module";

Quill.register("modules/imageResize", ImageResize);

export default {
  components: {
    VueEditor,
    selectImage
  },

  props: {
    params: {
      type: Object,
      default: null
    }
  },

  data() {
    return {
      activator: null,
      attach: null,
      colors: ['green', 'purple', 'indigo', 'cyan', 'teal', 'orange'],
      editing: null,
      index: -1,
      tags: [
        { header: 'Выбирай теги или создавай новые' },
        {
          text: '2018',
          color: 'blue',
        },
        {
          text: '2019',
          color: 'red',
        },
      ],
      nonce: 1,
      menu: false,
      x: 0,
      search: null,
      y: 0,
      toolbar: 0,
      dateMenu1: false,
      dateMenu2: false,
      isNotHaveImages: false,
      upload: false,
      contentt: "",
      alert: false,
      put: false,
      valid: false,
      dialog: false,
      nameRules: [v => !!v || "Название необходимо"],
      textRules: [v => !!v || "Текст необходим"],
      shortTextRules: [v => !!v || "Короткий текст необходим"],
      nameLocal: "",
      textLocal: "",
      shortTextLocal: "",
      dateCreatedLocal: "",
      datePublishedLocal: "",
      metaLocal: [],
      metaDataLocal: [],
      userIdLocal: "",
      tagsLocal: [],
      idLocal: "",
      contentIdLocal: "",
      imageLocal: "",
      imageHost: config.imagehost,
      backgroundColorLocal: "",
      isPublishedLocal: false,
      arrFiles: [],
      selectImageCallback: null,
      customOptionsToolbar: {
        modules: {
          imageResize: {},
          toolbar: "#my-toolbar"
        }
      },
      allParents: [
        { id: null, name: "Нет" }
      ],
      var_parentId: null
    };
  },

  computed: {
    ...mapGetters(["textContent", "textContents", "contents", "content", "users", "current", "files"])
  },

  created() {
    this.initContents()
  },

  mounted () {
    window.addEventListener('scroll', this.handleScroll)
    this.toolbar = document.getElementById('my-toolbar').getBoundingClientRect().top + window.pageYOffset || document.documentElement.scrollTop
  },

  destroyed () {
    window.removeEventListener('scroll', this.handleScroll)
  },

  watch: {
    tagsLocal (val, prev) {
      if (val.length === prev.length) return
        this.tagsLocal = val.map(v => {
          if (typeof v === 'string') {
            v = {
              text: v,
              color: this.colors[this.nonce - 1],
            }
          this.tags.push(v)
          this.nonce++
        }
        return v
      })
    },
  },  

  methods: {
    filter (item, queryText, itemText) {
      if (item.header) return false
      const hasValue = val => val != null ? val : ''
      const text = hasValue(itemText)
      const query = hasValue(queryText)
      return text.toString()
        .toLowerCase()
        .indexOf(query.toString().toLowerCase()) > -1
    },

    handleScroll () {
      document.getElementById('my-toolbar').style.width = document.getElementById('editor').offsetWidth + 'px'
      var height = document.getElementById('editor').offsetHeight
      var scrollTop = window.pageYOffset || document.documentElement.scrollTop
      if ((scrollTop / 2) < this.toolbar || height < (scrollTop - ( 2 * this.toolbar))) {
        document.getElementById('my-toolbar').classList.remove('fixed')
      } else {
        document.getElementById('my-toolbar').classList.add('fixed')
      }
    },

    initContents() {
      this.$store.dispatch("getListTextContent").then(() => {
        var i;
        for (i = 0; i < this.textContents.length; ++i) {
          if (this.textContents[i].name) {
            this.allParents.push(this.textContents[i])
          }
        }
      })

      if (this.params && this.params.id) {
        this.$store
          .dispatch("getTextContent", {
            id: this.params.id
          })
          .then(() => {
            this.nameLocal = this.textContent.name;
            this.textLocal = this.textContent.text;
            this.shortTextLocal = this.textContent.shortText;
            this.dateCreatedLocal = (this.textContent.dateCreated) ? this.textContent.dateCreated.substring(0,10) : '';
            this.datePublishedLocal = (this.textContent.datePublished) ? this.textContent.datePublished.substring(0,10) : '';
            this.metaLocal = this.textContent.metaData.slice();
            this.userIdLocal = this.textContent.user;
            this.tagsLocal = this.textContent.tags;
            this.idLocal = this.textContent.id;
            this.imageLocal = this.textContent.image;
            this.backgroundColorLocal = this.textContent.backgroundColor;
            this.contentt = this.textLocal;
            this.isPublishedLocal = this.textContent.isPublished;
            this.var_parentId = this.textContent.parentId
          });
      } else {
        this.$store.dispatch("getContent", {
          id: this.params.contentId
        }).then(() => {
          this.metaLocal = this.content.metaData.slice()
          this.createContent();
        })
      }

      this.$store.dispatch("getListContent").then(() => {
        var i;
        for (i = 0; i < this.contents.length; ++i) {
          this.allParents.push(this.contents[i])
        }
        this.contentIdLocal =
          this.params && this.params.contentId ? this.params.contentId : null;
      });

      this.$store.dispatch("getListUser").then(() => {
        this.userIdLocal =
          this.current && this.current.userId ? this.current.userId : null;
      });
    },

    openChangeCoverDialog(e) {
      this.selectImageCallback = this.coverImageChanged;
      this.getFiles(this.idLocal);
    },

    openTextImageDialog(e) {
      e.preventDefault();
      if (this.$refs.editor && this.$refs.editor.quill) {
        let editor = this.$refs.editor.quill;
        let range = editor.getSelection();
        if (range && range.index) {
          this.selectImageCallback = this.insertTextImage.bind(
            this,
            range.index
          );
          this.getFiles(this.idLocal).then(() => {
            this.dialog = true;
          });
        }
      }
    },

    getFiles(containerName) {
      return this.$store
        .dispatch("getFileList", {
          name: containerName
        })
        .then(() => {
          this.arrFiles = (this.files || []).slice();

          this.arrFiles = this.arrFiles.sort((a, b) => {
            var date_a = new Date(a.ctime);
            var date_b = new Date(b.ctime);
            if (date_a < date_b) {
              return -1;
            }
            if (date_a > date_a) {
              return 1;
            }

            return 0;
          });

          this.arrFiles.forEach(function(entry) {
            entry.src = `${config.imagehost}/${containerName}/${entry.name}`;
            entry.alt = entry.name;
            entry.id = Math.floor(Math.random() * (1e8 - 1)) + 1;
          });

          this.isNotHaveImages = (this.arrFiles || []).length === 0;
        });
    },

    pickFile() {
      this.$refs.file.click();
    },

    onFilePicked(e) {
      const files = e.target.files;
      for (var i = 0; i < files.length; ++i) {
        if (files[i] !== undefined) {
         if (this.fileName && this.fileName.lastIndexOf(".") <= 0) {
            return;
          }
          this.upload = true;
          console.log("Грузится");
          const fr = new FileReader();
          fr.readAsDataURL(files[i]);

          let formData = new FormData();
          formData.append("file", files[i]);
          this.$store
            .dispatch("uploadFile", {
              filedata: formData,
              name: this.idLocal
            })
            .then(data => {
              this.getFiles(this.idLocal);
              this.upload = false;
              console.log("Загрузилось");
            });
        }
      }
    },

    onSelectImage: function(data) {
      if (this.selectImageCallback) {
        this.selectImageCallback(data);
      }
      this.dialog = false;
    },

    onDeleteImage: function(data) {
      return this.$store
        .dispatch("deleteFile", {
          name: this.idLocal,
          file: data.name
        })
        .then(() => {
          this.getFiles(this.idLocal);
        });
    },

    coverImageChanged(data) {
      var colorThief = new ColorThief();
      var tempImage = new Image();

      tempImage.onload = () => {
        this.backgroundColorLocal =
          "#" +
          colorThief
            .getColor(tempImage)
            .map(x => {
              const hex = x.toString(16);
              return hex.length === 1 ? "0" + hex : hex;
            })
            .join("");
      };

      tempImage.src = data.src;
      this.imageLocal = `${data.container}/${data.name}`;
    },

    insertTextImage(index, data) {
      if (this.$refs.editor && this.$refs.editor.quill) {
        let imageUrl = data.src;
        let editor = this.$refs.editor.quill;

        editor.insertEmbed(index, "image", imageUrl);
      }
    },

    createContent() {
      this.textLocal = this.contentt;
      var self = this;
      return this.$store
        .dispatch("createTextContent", {
          name: this.nameLocal,
          text: this.textLocal,
          shortText: this.shortTextLocal,
          contentId: this.contentIdLocal,
          userId: this.userIdLocal,
          dateCreated: new Date(),
          datePublished: new Date(),
          image: this.imageLocal,
          tags: this.tagsLocal,
          metaData: this.metaDataLocal,
          backgroundColor: this.backgroundColorLocal,
          isPublished: this.isPublishedLocal,
          parentId: this.var_parentId
        })
        .then(result => {
          self.idLocal = self.textContent.id;
          if (self.textContent.dateCreated && self.textContent.datePublished) {
            self.dateCreatedLocal = self.textContent.dateCreated.substring(0,10);
            self.datePublishedLocal = self.textContent.datePublished.substring(0,10);
          }
          self.put = false;
          self.alert = true;
          setTimeout(() => (this.alert = false), 2000);
        });
    },

    putContent() {
      this.textLocal = this.contentt;
      var date = new Date();
      return this.$store
        .dispatch("editTextContent", {
          id: this.idLocal,
          name: this.nameLocal,
          text: this.textLocal,
          shortText: this.shortTextLocal,
          metaData: this.metaDataLocal,
          contentId: this.contentIdLocal,
          userId: this.userIdLocal,
          dateCreated: this.dateCreatedLocal ? this.dateCreatedLocal : date,
          datePublished: this.datePublishedLocal ? this.datePublishedLocal : date,
          tags: this.tagsLocal,
          backgroundColor: this.backgroundColorLocal,
          image: this.imageLocal,
          isPublished: this.isPublishedLocal,
          parentId: this.var_parentId
        })
        .then(() => {
          this.put = true;
          this.alert = true;
          setTimeout(() => (this.alert = false), 2000);
        });
    },

    save() {
      if (this.$refs.form.validate()) {
        var i;
        for (i = 0;  i< this.metaLocal.length; ++i) {
            if (!this.metaLocal[i].edit) {
              this.metaDataLocal.push(this.metaLocal[i])
            }
        }
        if (!this.idLocal) {
          return this.createContent();
        } else {
          return this.putContent();
        }
      }
      return Promise.reject();
    },

    newContent(event) {
      this.save()
        .then(() => {
          this.resetVariables();
          this.$router.push({
            path: `/contents/entry/${this.params.contentSlug}/edit`
          });
          this.backToTop();
        })
        .catch(e => {
          console.log("test", e);
        });
    },

    backToTop () {
      if (window.pageYOffset > 0) {
        window.scrollBy(0, -35)
        setTimeout(this.backToTop, 5)
      }
    },

    resetVariables() {
      this.nameLocal = "";
      this.textLocal = "";
      this.shortTextLocal = "";
      this.dateCreatedLocal = "";
      this.datePublishedLocal = "";
      this.metaLocal = [];
      this.metaDataLocal = [];
      this.tagsLocal = [];
      this.idLocal = null;
      this.imageLocal = "";
      this.backgroundColorLocal = "";
      this.contentt = "";
      this.var_parentId = null
      this.isPublishedLocal = false;
    },

    back() {
      this.$router.push({ name: "home" });
    },

    addMeta (name,content) {
      this.metaLocal.push({ name: name, content: content, edit: true })
    }
  }
};
</script>