<template>
  <v-app v-if="isAppLoaded">
    <v-navigation-drawer v-model="drawer" absolute v-if="current && current.user!==null">
      <v-toolbar flat class="transparent">
        <v-list class="pa-0">
          <v-list-tile avatar @click="goTo('profile')">
            <v-list-tile-avatar v-if="current.user.profile && current.user.profile.avatar">
              <img :src="current.user.profile.avatar">
            </v-list-tile-avatar>
            <v-list-tile-content>
              <v-list-tile-title>{{current.user.username}}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-toolbar>
      <v-list class="pt-0" dense>
        <template v-for="(item, index) in items">
          <v-list-tile v-if="item.link" :key="item.title" @click="goTo(item.link)">
            <v-list-tile-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{ item.title }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-divider v-else-if="item.divider" :key="index"></v-divider>
          <v-subheader
            v-else-if="item.header"
            :key="item.header"
            class="grey--text text--darken-2"
          >{{ item.header }}</v-subheader>
        </template>
        <template v-for="(item,index) in listContent">
          <v-list-tile v-if="!item.parentId" :key="index + item.id" @click="goToContent(item)">
            <v-list-tile-action >
              <v-icon>{{ item.type === 'textcontent' ? textIcon : (item.type === 'mediacontent' ? mediaIcon : docIcon)}}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title v-text="item.name"></v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <div v-for="subItem in listContent" :key="subItem.id + item.id">
            <v-list-tile v-if="subItem.parentId === item.id" @click="goToContent(subItem)">
              <v-list-tile-action class="pl-4">
                <v-icon>{{ subItem.type === 'textcontent' ? textIcon : mediaIcon}}</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title class="pl-4" v-text="subItem.name"></v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </div>
        </template>
        <template v-for="(item, index) in contentItems">
          <v-list-tile v-if="item.link" :key="'content_'+item.index" @click="goTo(item.link)">
            <v-list-tile-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{ item.title }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-divider v-else-if="item.divider" :key="index"></v-divider>
          <v-subheader
            v-else-if="item.header"
            :key="item.header"
            class="grey--text text--darken-2"
          >{{ item.header }}</v-subheader>
        </template>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar :style="(drawer) ? 'padding-left: 300px;' : ''">
      <v-toolbar-side-icon @click="handleShowHideDrawer" v-if="current && current.user!==null"></v-toolbar-side-icon>
      <v-toolbar-title>Social Share</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn flat v-if="current && current.user===null && !current.isAuthenticated">
          <router-link to="/login">Login</router-link>
        </v-btn>
        <v-btn flat v-else>
          <router-link to="/logout">Logout</router-link>
        </v-btn>
      </v-toolbar-items>
    </v-toolbar>
    <v-layout v-on:click="onCl()">
      <v-content>
        <v-container fluid>
          <router-view></router-view>
        </v-container>
      </v-content>
    </v-layout>
    <v-footer dark height="auto">
      <v-card flat tile class="indigo lighten-1 white--text text-xs-center" style="width:100%;">
        <v-card-text>
          <v-btn v-for="icon in icons" :key="icon" class="mx-3 white--text" icon>
            <v-icon size="24px">{{ icon }}</v-icon>
          </v-btn>
        </v-card-text>
        <v-card-text class="white--text pt-0">
          <p>АДМИНИСТРАЦИЯ СЕВЕРОДВИНСКА</p>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-text class="white--text">
          &copy;2018 —
          <strong>Отдел общественных связей Управления общественных связей и молодежной политики</strong>
        </v-card-text>
      </v-card>
    </v-footer>
  </v-app>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data: () => ({
    isAppLoaded: false,
    listContent: [],
    textIcon: "description",
    mediaIcon: "perm_media",
    docIcon: "picture_as_pdf",
    icons: [
      "fab fa-facebook",
      "fab fa-twitter",
      "fab fa-google-plus",
      "fab fa-linkedin",
      "fab fa-instagram"
    ],
    drawer: false,
    items: [
      { header: "Оновное" },
      { divider: true },
      { title: "Home", icon: "dashboard", link: "home" },
      { title: "Pages", icon: "question_answer", link: "pages" },
      { title: "Users", icon: "supervised_user_circle", link: "users" },
      { title: "Поиск", icon: "search", link: "search" },
      { title: "Files", icon: "attach_file", link: "files" },
      { title: "All TextContents", icon: "question_answer", link: "alltextcontentlist" },
      { header: "Контент" },
      { divider: true }
    ],
    contentItems: [
      { divider: true },
      {
        title: "Добавить контент",
        icon: "question_answer",
        link: "contentcreate"
      }
    ],
    right: null
  }),

  computed: {
    ...mapGetters([
      "contents",
      "documents",
      "mediaContents",
      "textContents",
      "pages",
      "user",
      "current",
      "storages"
    ])
  },

  created() {
    this.initContents();
  },

  methods: {
    initContents() {
      this.$store.dispatch("getListContent", { skip: 0 }).then(() => {
        this.listContent = this.contents.slice();
        this.isAppLoaded = true;
        this.$store.dispatch("getStorageList");
      });
    },

    goTo(link) {
      this.drawer = false;
      this.$router.push({ name: link });
    },

    onCl() {
      this.drawer = false;
    },

    goToContent(content) {
      this.drawer = false;
      this.$router.push({ path: `/contents/entry/${content.slug}/list` });
    },

    handleShowHideDrawer() {
      this.drawer = !this.drawer;
    }
  }
};
</script>
