<template>
  <div v-if="pageCount > 1" class="text-xs-center">
    <v-pagination
      circle
      v-model="currPage"
      :length="pageCount"
    ></v-pagination>
  </div>
</template>
<script>
import config from './../config'
export default {
  props: {
    api: {
      type: String,
      default: null
    },
    id: {
      type: String,
      default: null
    },
    contentSlug: {
      type: String,
      default: null
    }
  },

  data () {
    return {
      perPage: 25,
      currPos: 0,
      count: 0,
      pageCount: 0,
      currPage: 1,
      apiType: this.api,
      idOfTC: this.id,
      slug: this.contentSlug
    }
  },

  watch: {
    currPage: function (currPage) {
      this.currPos = (currPage * this.perPage) - this.perPage
      this.initContents()
    },

    apiType: function () {
      this.paginationCalc()
    },

    slug: function () {
      this.paginationCalc()
    },
  },

  created () {
    this.paginationCalc()
  },

  methods: {
    paginationCalc() {
      console.log('Обновился')
      if (!this.idOfTC) {
        if (!this.slug) {
          this.$store.dispatch('get' + this.apiType + 'Count').then((data) => {
            this.count = data.count
            this.pageCount = Math.ceil(this.count / this.perPage)
            this.initContents()
          })
        }
        else {
          this.$store.dispatch('getContentBySlug', { where: { slug: this.slug }}).then((data) => {
            this.idOfTC = data[0].id
            this.$store.dispatch('get' + this.apiType + 'Count', { contentId: this.idOfTC }).then((data) => {
              this.count = data.count
              this.pageCount = Math.ceil(this.count / this.perPage)
              this.initContents()
            })
          })
        }
      } else {
        this.$store.dispatch('get' + this.apiType + 'Count', { contentId: this.idOfTC }).then((data) => {
          this.count = data.count
          this.pageCount = Math.ceil(this.count / this.perPage)
          this.initContents()
        })
      }
    },

    initContents () {
      if (!this.idOfTC) {
        this.$store.dispatch('getList' + this.apiType, { limit: this.perPage, skip: this.currPos, order: 'dateCreated DESC' })
      } else {
        this.$store.dispatch('get' + this.apiType + 'OfContent', { filter: { limit: this.perPage, skip: this.currPos, order: 'dateCreated DESC' }, id: this.idOfTC })
      }
    },
  }
}
</script>
