<template>
  <v-container fluid grid-list-sm>
    <v-layout row wrap>
      <v-flex v-for="(dataImage, index) in dataImagesLocal" :key="index" xs4>
        <v-card>
          <v-img
            v-on:click="onSelectImage(dataImage)"
            :src="`${dataImage.src}?dim=250x250`"
            :lazy-src="`${dataImage.src}?dim=25x25`"
            aspect-ratio="1"
            height="100%"
            width="100%"
            class="image"
            v-bind:class="{activeImg: activeImage === dataImage.name}"
          >
          <v-container fill-height fluid pa-2>
            <v-layout fill-height>
              <v-flex xs12 align-end justify-end flexbox>
                <v-btn fab dark small color="primary" v-on:click="(event) => onDeleteImage(event, dataImage)">
                  <v-icon>delete</v-icon>
                </v-btn>
              </v-flex>
            </v-layout>
          </v-container>
          <template v-slot:placeholder>
            <v-layout
              fill-height
              align-center
              justify-center
              ma-0
            >
              <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
            </v-layout>
          </template>
          </v-img>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  props: {
    dataImages: {
      type: Array,
      default: () => []
    },
    selectedImage: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      singleSelected: {
        id: ""
      },
      singleSelectedforDel: {
        id: ""
      },
      activeImage: ""
    };
  },

  computed: {
    dataImagesLocal: function() {
      return this.dataImages || [];
    }
  },

  methods: {
    onSelectImage(objectImage) {
      this.singleSelected = Object.assign({}, this.singleSelected, objectImage);
      this.$emit("onselectimage", objectImage);
      this.activeImage = objectImage.name;
    },

    onDeleteImage(event, objectImage) {
      event.stopImmediatePropagation()
      this.singleSelectedforDel = Object.assign(
        {},
        this.singleSelected,
        objectImage
      );
      this.$emit("ondeleteimage", objectImage);
    }
  }
};
</script>