<template>
    <div class="container" v-if="login">
        <div class="row d-flex justify-content-end py-3">
            <span>
                Добро пожаловать, <i> {{ f }} {{ n }} </i>
            </span>
        </div>
        <div class="row justify-content-start py-1">
            <div class="col-12">
            <span class="">
                Добавить новость
            </span>
            <button type="submit" class="btn btn-primary">
                <router-link to='add_news' class="menu-link">
                    Добавить
                </router-link>
            </button> 
            </div>
        </div>
        <div class="row justify-content-start py-1">
            <div class="col-12">
            <span class="">
                Добавить документ
            </span>
            <button type="submit" class="btn btn-primary">
                <router-link to='add_docs' class="menu-link">
                    Добавить
                </router-link>
            </button> 
            </div>
        </div>
    </div>
    <div v-else>
        Вы не авторизированы. Войдите в систему.
    </div>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  head () {
    return {
      title: 'Личный кабинет'
    }
  },

  data () {
    return {
      login: '',
      books: [],
      f: '',
      n: '',
      o: ''
    }
  },

  computed: {
    ...mapGetters(['users'])
  },

  mounted () {
    this.initContents()
  },

  methods: {
    initContents () {
      if (localStorage.login) {
        this.login = localStorage.login
        this.$store.dispatch('getListUser', { where: { login: this.login } }).then(() => {
          this.books = this.users[0].books
          this.f = this.users[0].f
          this.n = this.users[0].n
          this.o = this.users[0].o
        })
      }
    },

    save () {
      this.$store.dispatch('editUser', {
        id: this.users[0].id,
        f: this.f,
        n: this.n,
        o: this.o,
        login: this.users[0].login,
        password: this.users[0].password,
        books: this.users[0].books
      }).then(() => {
        window.location.reload()
      })
    }
  }
}
</script>