<template>
    <div class="container" v-if="login">
        <div class="row d-flex justify-content-end py-3">
            <span>
                Добро пожаловать, <i> {{ f }} {{ n }} </i>
            </span>
        </div>
        <div class="my-3">
            <b-button v-b-toggle.collapse-1 variant="primary" class="m-1">Забронированные документы</b-button>
            <b-collapse id="collapse-1" class=" bg-white">
                <div class="container">
                    <div v-if="bron" class="row d-flex justify-content-start py-3">
                        <div v-for="(bron,index) in bron" :key="index" class="col-12">
                            <div class="row d-flex justify-content-start py-1">
                                <div v-if="bron.usersBron && bron.usersBron.f && bron.usersBron.n" class="col-4">
                                    <span>{{ bron.usersBron.f }} {{ bron.usersBron.n }}</span>
                                </div>
                                <div v-if="bron.documentBron && bron.documentBron.name" class="col-4">
                                    <router-link :to="{path:'/documents/'+ bron.documentBron.id}">
                                        <span>
                                            {{ bron.documentBron.name }}
                                        </span>
                                    </router-link>
                                </div>
                                <div v-if="bron.from" class="col-1">
                                    <span>{{ format(bron.from) }}</span>
                                </div>
                                <div v-if="bron.to" class="col-1">
                                    <span>{{ format(bron.to) }}</span>
                                </div>
                                <div class="col-2">
                                    <button v-on:click="delBron(bron)" class="btn btn-primary">
                                        Выдать
                                    </button> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <b-button v-b-toggle="'collapse-1'" class="m-1">Закрыть</b-button>
            </b-collapse>
        </div>
        <div class="my-3">
            <b-button v-b-toggle.collapse-2 variant="primary" class="m-1">Выданные документы</b-button>
            <b-collapse id="collapse-2" class=" bg-white">
                <div class="container">
                    <div v-if="books" class="row d-flex justify-content-start py-3">
                        <div v-for="(book,index) in books" :key="index" class="col-12">
                            <div class="row d-flex justify-content-start py-1">
                                <div v-if="book.users && book.users.f && book.users.n" class="col-3">
                                    <span>{{ book.users.f }} {{ book.users.n }}</span>
                                </div>
                                <div v-if="book.document && book.document.name" class="col-3">
                                    <router-link :to="{path:'/documents/'+ book.document.id}">
                                        <span>
                                            {{ book.document.name }}
                                        </span>
                                    </router-link>
                                </div>
                                <div v-if="book.from" class="col-2">
                                    <span>{{ format(book.from) }}</span>
                                </div>
                                <div v-if="book.to" class="col-2">
                                    <span>{{ format(book.to) }}</span>
                                </div>
                                <div class="col-2">
                                    <button v-on:click="delBook(book.id, book.document.id, book.document.count)" class="btn btn-primary">
                                        Возвращено
                                    </button> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <b-button v-b-toggle="'collapse-2'" class="m-1">Закрыть</b-button>
            </b-collapse>
        </div>

    </div>
    <div v-else>
        Вы не авторизированы. Войдите в систему.
    </div>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  head () {
    return {
      title: 'Личный кабинет'
    }
  },

  data () {
    return {
      login: '',
      f: '',
      n: '',
      o: ''
    }
  },

  computed: {
    ...mapGetters(['users', 'books', 'bron'])
  },

  mounted () {
    this.initContents()
  },

  methods: {
    initContents () {
      if (localStorage.login) {
        this.login = localStorage.login
        this.$store.dispatch('getListUser', { where: { login: this.login } }).then(() => {
          this.f = this.users[0].f
          this.n = this.users[0].n
          this.o = this.users[0].o
        })
        this.$store.dispatch('getListBooks')
        this.$store.dispatch('getListBron').then(() => {
          for (let i = 0; i < this.bron.length; ++i) {
            var today = new Date()
            var to = new Date(this.bron[i].to)
            var daysLag = Math.ceil(to.getTime() - today.getTime()) / (1000 * 3600 * 24)
            if (daysLag < 0.5) {
              let count = parseInt(this.bron[i].documentBron.count) + 1
              this.$store.dispatch('editCount', { id: this.bron[i].documentBron.id, count: count })
              this.$store.dispatch('delBron', { id: this.bron[i].id }).then(() => {
                console.log('Удалил')
                this.$store.dispatch('getListBron')
              })
            }
          }
        })
      }
    },
    format (date) {
      return date.substring(0, 10)
    },
    delBook (bookId, id, count) {
      if (confirm('Вы уверены?')) {
        this.$store.dispatch('delBooks', { id: bookId }).then(() => {
          count = parseInt(count) + 1
          this.$store.dispatch('editCount', { id: id, count: count }).then(() => {
            this.$store.dispatch('getListBooks')
          })
        })
      }
    },
    delBron (bron) {
      if (confirm('Вы уверены?')) {
        let fromDate = new Date()
        let toDate = new Date()
        toDate.setDate(fromDate.getDate() + 3)
        this.$store.dispatch('addBooks', { from: fromDate, to: toDate, usersId: bron.usersBron.id, documentId: bron.documentBron.id }).then(() => {
          this.$store.dispatch('delBron', { id: bron.id }).then(() => {
            console.log('Удалил')
            this.$store.dispatch('getListBooks')
            this.$store.dispatch('getListBron')
          })
        })
      }
    }
  }
}
</script>