<template>
  <footer class="footer mt-5">
    <div class="menu-style">
      <div class="container py-3">
        <div class="row d-flex justify-content-between">
          <div class="col-auto menu-link-area">
            <router-link to="/" class="menu-link">
              <a>
                Главная
              </a>
            </router-link>
          </div>
          <div class="col-auto menu-link-area">
            <router-link to="/news" class="menu-link">
              <a>
                Новости
              </a>
            </router-link>
          </div>
          <div class="col-auto menu-link-area">
            <router-link to="/documents" class="menu-link">
              <a>
                Документы
              </a>
            </router-link>
          </div>
          </div>
        </div>
      </div>
  </footer>
</template>
