<template>
  <header class="header-style py-3">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <router-link to="/" class="menu-link">
            Сайт библиотеки
          </router-link>
        </div>
      </div>
    </div>
  </header>
</template>
<script>
export default {
  data () {
    return {
      login: ''
    }
  },

  watch: {
    '$route' () {
      this.initContents()
    }
  },

  mounted () {
    this.initContents()
  },

  methods: {
    initContents () {
      if (localStorage.login) {
        this.login = localStorage.login
      }
    },
    logout () {
      localStorage.login = ''
      this.login = ''
    }
  }
}
</script>
