<template>
<div class="menu-style">
  <div class="container py-3">
    <div class="row d-flex justify-content-between">
      <div class="col-auto menu-link-area">
        <router-link to="/news" class="menu-link">
          <a>
            Новости
          </a>
        </router-link>
      </div>
      <div class="col-auto menu-link-area">
        <router-link to="/documents" class="menu-link">
          <a>
            Документы
          </a>
        </router-link>
      </div>
<div class="col-auto"> 
  <div class="row d-flex justify-content-between">
  <div class="col-auto menu-link-area">
      <div v-if="login">
          <router-link to="/profile" class="menu-link">
            <a>
              {{ f }} {{ n }}
            </a>
          </router-link>
        </div>
      </div>
      <div class="col-auto menu-link-area">
      <div v-if="login">

          <a v-on:click="logout" class="menu-link">
            Выйти
          </a>
        </div>
      </div>
        <div v-if="!login"  class="col-auto">
          <div class="row">
          <div class="col-auto menu-link-area">
            <router-link to="/login" class="menu-link">
              <a>
                Войти в личный кабинет
              </a>
            </router-link>
          </div>
          <div class="col-auto menu-link-area">
            <router-link to="/registration" class="menu-link">
              <a>
                Зарегистрироваться
              </a>
            </router-link>
          </div>
          </div>
        </div>
  </div>
</div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  data () {
    return {
      login: '',
      type: '',
      f: '',
      n: '',
      o: ''
    }
  },

  watch: {
    '$route' () {
      this.initContents()
    }
  },

  mounted () {
    this.initContents()
  },

  computed: {
    ...mapGetters(['users'])
  },

  methods: {
    initContents () {
      if (localStorage.login) {
        this.login = localStorage.login
        this.type = localStorage.type
        this.$store.dispatch('getListUser', { where: { login: this.login } }).then(() => {
          this.f = this.users[0].f
          this.n = this.users[0].n
          this.o = this.users[0].o
        })
      }
    },
    logout () {
      localStorage.login = ''
      localStorage.type = ''
      this.login = ''
      this.f = ''
      this.n = ''
      this.o = ''
      window.location.reload()
    }
  }
}
</script>